<h1 class="text-center">管理介面</h1>
<br>
<div class="d-flex flex-wrap">
  <div class="flex-grow-1"><%= render 'card_link', title: User.model_name.human, icon: icon('fas', 'user'), path: admin_members_path %></div>
  <div class="flex-grow-1"><%= render 'card_link', title: Event.model_name.human, icon: icon('fas', 'running'), path: admin_events_path %></div>
  <div class="flex-grow-1"><%= render 'card_link', title: Weekly.model_name.human, icon: icon('fas', 'newspaper'), path: admin_weeklies_path %></div>
  <div class="flex-grow-1"><%= render 'card_link', title: Group.model_name.human, icon: icon('fas', 'users'), path: admin_groups_path %></div>
  <div class="flex-grow-1"><%= render 'card_link', title: Announcement.model_name.human, icon: icon('fas', 'bullhorn'), path: admin_announcements_path %></div>
  <div class="flex-grow-1"><%= render 'card_link', title: Service::Team.model_name.human, icon: icon('fas', 'users'), path: admin_service_teams_path %></div>
  <div class="flex-grow-1"><%= render 'card_link', title: Service::Role.model_name.human, icon: icon('fas', 'user-tag'), path: admin_service_roles_path %></div>
  <div class="flex-grow-1"><%= render 'card_link', title: Service::Schedule.model_name.human, icon: icon('fas', 'calendar'), path: admin_service_schedules_path %></div>
</div>
