<h1 class="text-center"><%= announcement.title %></h1>
<p class="my-2"><%= announcement.description %></p>
<hr>
<div class="my-4 d-flex">
  <span><%= Announcement.human_attribute_name :created_at %>:</span>
  <span> <%= l announcement.created_at %></span>
  <span class="ml-auto"><%= Announcement.human_attribute_name :updated_at %>:</span>
  <span> <%= l announcement.updated_at %></span>
</div>
<hr>
<div class="p-4 markdown-body bg-light">
  <%= markdown announcement.content %>
</div>
