<h1 class="text-center"><%= announcement.title %></h1>
<p class="my-2"><%= announcement.description %></p>
<div class="my-4">
  <span><%= "#{ t(:created_at) } : #{ announcement.created_at.strftime("%Y/%m/%d %H:%M") }" %></span>
  <span class="pull-right"><%= "#{ t(:updated_at) } : #{ announcement.updated_at.strftime("%Y/%m/%d %H:%M") }" %></span>
</div>
<br>
<div class="p-4 markdown-body bg-light">
  <%= markdown announcement.content %>
</div>
<br>
