<% stage ||= :frontstage %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Announcement.human_attribute_name :title %></th>
      <th><%= Announcement.human_attribute_name :updated_at %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.title %></td>
        <td><%= l announcement.updated_at %></td>
        <td>
          <% if stage == :backstage %>
            <%= link_to admin_announcement_path(announcement), class: 'btn btn-sm btn-outline-secondary' do %>
              <i class="fas fa-info-circle"></i> 查看
            <% end %>
            <%= link_to edit_admin_announcement_path(announcement), class: 'btn btn-sm btn-outline-primary' do %>
              <i class="fas fa-edit"></i> 編輯
            <% end %>
            <%= link_to admin_announcement_path(announcement),
                          class: 'btn btn-sm btn-outline-danger',
                          method: :delete,
                          data: { confirm: '確定要刪除？' } do %>
              <i class="fas fa-trash"></i> 刪除
            <% end %>
          <% elsif stage == :frontstage %>
            <%= link_to announcement_path(announcement), class: 'btn btn-sm btn-outline-secondary' do %>
              <i class="fas fa-info-circle"></i> 查看
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
