<%= render 'devise/shared/breadcrumb' %>
<% content_for :breadcrumb do %>
  > 帳號驗證
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">帳號驗證</h1>
  <p class="lead text-center">沒有收到驗證信嗎，輸入 Email 重新寄送驗證信，以啟用會員。</p>
<% end %>
<div class="container">
  <div class="card-deck">
    <div class="card my-2">
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="card-body">
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>
          <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="card-body">
          <%= f.button :submit, '重寄驗證信', class: 'btn-block' %>
        </div>
      <% end %>
    </div>
    <div class="card text-center text-muted my-2">
      <div class="card-body">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
