<div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
  <h1><%= t('user.all') %></h1>
  <div class="w-100"></div>
  <%= link_to t('user.download_excel'), download_admin_members_path(format: :xlsx), class: "btn btn-success ml-auto" %>
</div>
<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><%= t('search_conditions') %></a>
<div class="collapse" id="collapseSearch">
  <div class="card my-2">
    <div class="card-body">
      <%= search_form_for @q, url: admin_members_url, class: "form-inline mx-5" do |f| %>
      <%= f.label t('user.email'), class: "mr-1" %>
      <%= f.search_field :email_cont, class: "form-control mr-2" %>
      <div class="w-100 my-1"></div>
      <%= f.label t('profile.name'), class: "mr-1" %>
      <%= f.search_field :profile_name_cont, class: "form-control mr-2" %>
      <div class="w-100 my-1"></div>
      <%= f.label t('profile.phone'), class: "mr-1" %>
      <%= f.search_field :profile_phone_or_profile_cellphone_cont, class: "form-control mr-2" %>
      <div class="w-100 my-1"></div>
      <%= f.label t('profile.sex'), class: "mr-1" %>
      <%= f.select :profile_sex_eq, ["男", "女"], include_blank: true, class: "form-control mr-2" %>
      <div class="w-100 my-1"></div>
      <%= f.label t('profile.birth_month'), class: "mr-1" %>
      <%= f.select :birth_month, (1..12).to_a, include_blank: true, class: "form-control mr-2" %>
      <div class="w-100 my-1"></div>
      <%= link_to t('button.clear'), admin_members_path, class: 'btn btn-outline-secondary ml-auto' %>
      <%= f.submit class: "btn btn-outline-secondary mx-2" %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @members %>
<table class="table my-4">
  <thead class="thead-default">
    <tr>
      <th>ID</th>
      <th>姓名</th>
      <th>Email</th>
      <th>聯絡電話</th>
      <th>詳細資訊</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |u| %>
    <% if u.profile.blank? %>
    <% profile = Profile.new %>
  <% else %>
    <% profile = u.profile %>
    <% end %>
    <tr>
      <td><%= u.id %></td>
      <td><%= profile.name %></td>
      <td><%= u.email %></td>
      <td><%= profile.phone %><br><%= profile.cellphone %></td>
      <td><%= link_to "更多", admin_member_path(u), class: "btn btn-info" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @members %>
