<%= link_to t(:download_excel), download_admin_members_path(@members,format: :xlsx), class: "btn btn-success pull-right" %>
<div id="members">

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-md-1  control-label">搜索 : </label>
      <div class="col-md-2">
        <input v-model="searchText" type="text" class="form-control" placeholder="關鍵字">
      </div>
    </div>
  </form>
  
  <table class="table table-hover" >
    <thead>
      <tr >
        <td @click="orderByWhat('id')">id</td>
        <td @click="orderByWhat('name')"><%= t("姓名") %></td>
        <td @click="orderByWhat('profile.sex')"><%= t(:sex) %></td>
        <td @click="orderByWhat('profile.birth')"><%= t(:birth) %></td>
        <td @click="orderByWhat('profile.email')"><%= t(:email) %></td>
        <td @click="orderByWhat('profile.phone')"><%= t(:phone) %></td>
        <td @click="orderByWhat('profile.cellphone')"><%= t(:cellphone) %></td>
        <td @click="orderByWhat('profile.address')"><%= t(:address) %></td>
      </tr>
    </thead>

    <!-- Vue events -->
    <tbody >
      <tr v-for=" member in members | orderBy what order | filterBy searchText in fields " onclick="window.document.location='/admin/members/{{member.id}}';">
        <td>{{ member.id }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.profile.sex }}</td>
        <td>{{ member.profile.birth }}</td>
        <td>{{ member.profile.email }}</td>
        <td>{{ member.profile.phone }}</td>
        <td>{{ member.profile.cellphone }}</td>
        <td>{{ member.profile.address }}</td>
      </tr>
    </tbody>
  </table>

</div>
<script type="text/javascript">
  var members_data = <%= sanitize @members.to_json(include: :profile) %>;
  var members = new Vue({
    el : '#members',
    data : {
      order : 1,
      what : 'id',
      members : members_data,
        searchText : '',
        fields : ['id','name','profile.sex','profile.birth','profile.email','profile.phone','profile.cellphone','profile.address']
    },
    created : function(){
      this.checkProfile();
    },
    methods : {
      orderByWhat : function(what){
        if (this.what == what) {
          this.order = this.order * -1;
        }
        else{
          this.order = 1;
          this.what = what;
        }   
      },
      checkProfile : function(){
        for (var i = 0; i < this.members.length; i++) {
          if ( !this.members[i].profile ) {
            this.members[i].profile = {
              name : '',
              sex : '',
              birth : '',
              phone : '',
              cellphone : '',
              email : '',
              address : ''
            };
          } 
        }
      }
    }
  });
</script>


