<%= link_to t('.back'), admin_members_path, class: 'btn btn-outline-secondary' %>
<h2 class="text-center my-4">
  <%= @member.email %>
  <span class="ml-2"><%= become_admin_link(@member) %></span>
</h2>
<%= render 'account/profiles/profile', profile: @member.profile, render_for_admin: true %>
<div class="row mt-2">
  <div class="col-sm-12 col-md-6">
    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title"><%= "#{t '.leaded'}#{Service::Team.model_name.human}" %></h3>
        <%= content_tag :div, t('.no_result') if @member.service_teams.blank? %>
      </div>
      <ul class="list-group list-group-flush">
        <% @member.service_teams.each do |team| %>
          <li class="list-group-item"><%= link_to team.name, admin_service_team_path(team), class: 'card-link mx-auto' %></li>
        <% end %>
      </ul>
      <hr>
      <div class="card-body">
        <h3 class="card-title"><%= "#{t '.participated'}#{Service::Team.model_name.human}" %></h3>
        <%= content_tag :div, t('.no_result') if @member.serviced_teams.blank? %>
      </div>
      <ul class="list-group list-group-flush">
        <% @member.serviced_teams.each do |team| %>
          <%= link_to team.name, admin_service_team_path(team), class: 'list-group-item bg-light' %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title"><%= "#{t '.participated'}#{Event.model_name.human}" %></h3>
        <%= content_tag :div, t('.no_result') if @member.participated_events.blank? %>
      </div>
      <ul class="list-group list-group-flush">
        <% @member.participated_events.each do |event| %>
          <%= link_to event.name, admin_event_path(event), class: 'list-group-item bg-light' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
