<%= link_to admin_members_path, class: 'btn btn-sm btn-outline-secondary' do %>
  <i class="fas fa-list"></i> <%= t '.back' %>
<% end %>
<h1 class="mt-2 text-center"><%= User.model_name.human %></h1>
<h2 class="mt-2 text-center"><%= @member.email %></h2>
<div class="btn-toolbar mt-2">
  <% if Ability.new(@member).can?(:manage, :admin) %>
    <%= link_to become_admin_admin_member_path(@member),
                method: :post,
                class: 'btn btn-sm btn-danger ml-auto',
                data: { confirm: '確定要將此用戶降為一般會員嗎？', disable_with: t('button.submitting') } do %>
      <i class="fas fa-ban"></i> 降為一般會員
    <% end %>
  <% else %>
    <%= link_to become_admin_admin_member_path(@member),
                method: :post,
                class: 'btn btn-sm btn-danger ml-auto',
                data: { confirm: '確定要讓此用戶升為管理員嗎？', disable_with: t('button.submitting') } do %>
      <i class="fas fa-gavel"></i> 升為管理員
    <% end %>
  <% end %>
</div>
<br>
<%= render 'account/profiles/profile', profile: @member.profile, stage: :backstage %>
<% if @service_teams.present? %>
  <div class="mt-2">
    <h3 class="text-center"><%= t '.leaded' %><%= Service::Team.model_name.human %></h3>
    <div class="card">
      <div class="list-group list-group-flush">
        <% @service_teams.each do |team| %>
          <%= link_to team.name, admin_service_team_path(team), class: 'list-group-item list-group-item-action' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if @serviced_teams.present? %>
  <div class="mt-2">
    <h3 class="text-center"><%= t '.participated' %><%= Service::Team.model_name.human %></h3>
    <div class="card">
      <div class="list-group list-group-flush">
        <% @serviced_teams.each do |team| %>
          <%= link_to team.name, admin_service_team_path(team), class: 'list-group-item list-group-item-action' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if @events.present? %>
  <div class="mt-2">
    <h3 class="text-center"><%= t '.participated' %><%= Event.model_name.human %></h3>
    <div class="card">
      <div class="list-group list-group-flush">
        <% @events.each do |event| %>
          <%= link_to event.name, admin_event_path(event), class: 'list-group-item list-group-item-action' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
