<%= simple_form_for [:admin, @event] do |f| %>
<%= f.error_notification %>
<div class="form-group">
  <%= f.input :name %>
  <%= f.input :nature %>
  <%= f.input :description, as: :text, input_html: { rows: 8 } %>
  <%= f.input :max_sign_up_number %>
  <%= f.input :min_sign_up_number %>
  <%= f.input :sign_up_begin %>
  <%= f.input :sign_up_end %>
  <%= f.input :start %>
  <%= f.input :over %>
  <%= f.input :check_arrival %>
  <%= f.input :registery_fee %>
  <%= f.input :show_participants %>
</div>
<%= f.submit class: 'btn btn-primary', data: { disable_with: t('.submitting') } %>
<% end %>
