<h1 class="text-center"><%= t '.title' %></h1>
<div class="my-2 d-flex">
  <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
    <%= fa_icon('search', text: t('button.search_conditions')) %>
  </a>
  <%= link_to fa_icon('plus', text: t('.new')), new_admin_event_path, class: 'btn btn-outline-success ml-auto' %>
</div>
<div class="collapse" id="collapse-search">
  <div class="card my-2">
    <div class="card-body">
      <ul class="nav nav-pills" role="tablist">
        <%= nav_params_li t('.all'), admin_events_path, check_params: { status: '' } %>
        <%= nav_params_li t('.registration'), admin_events_path(status: :registration), check_params: { status: :registration } %>
        <%= nav_params_li t('.running'), admin_events_path(status: :running), check_params: { status: :running } %>
        <%= nav_params_li t('.closed'), admin_events_path(status: :closed), check_params: { status: :closed } %>
      </ul>
      <%= search_form_for @q, url: admin_events_url, class: 'form-inline my-2 mx-5' do |f| %>
        <%= hidden_field_tag :status, params[:status] %>
        <%= f.label Event.human_attribute_name(:name), class: 'mr-1' %>
        <%= f.search_field :name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= f.label Event.human_attribute_name(:nature), class: 'mr-1' %>
        <%= f.search_field :nature_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= link_to fa_icon('undo', text: t('button.clear')), admin_events_path, class: 'btn btn-outline-secondary ml-auto' %>
        <%= f.button fa_icon('search', text: t('button.search')), class: 'btn btn-outline-secondary mx-2' %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @events %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Event.human_attribute_name :name %></th>
      <th><%= Event.human_attribute_name :participants_count %></th>
      <th><%= Event.human_attribute_name :time %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.participants_count %> / <%= event.max_sign_up_number %></td>
        <td><%= l event.sign_up_begin %> ~ <%= l event.sign_up_end %></td>
        <td>
          <%= link_to fa_icon('info-circle', text: t('button.show')), admin_event_path(event), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to fa_icon('pencil', text: t('button.edit')), edit_admin_event_path(event), class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to fa_icon('trash', text: t('button.delete')), admin_event_path(event), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: t('.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>
