<%= link_to(t(:new_event), new_admin_event_path, class: "btn btn-primary pull-right") %>
<div id="events">

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-md-1  control-label">搜索 : </label>
      <div class="col-md-2">
        <input v-model="searchText" type="text" class="form-control" placeholder="活動名稱">
      </div>
    </div>
  </form>

  <table class="table table-hover" >
    <thead>
      <tr >
        <td @click="orderByWhat('id')">#</td>
        <td @click="orderByWhat('name')"><%= t(:event_name) %></td>
        <td @click="orderByWhat('sign_up_begin')"><%= t(:event_sign_up_begin) %></td>
        <td @click="orderByWhat('sign_up_end')"><%= t(:event_sign_up_end) %></td>
        <td @click="orderByWhat('start')"><%= t(:event_start) %></td>
        <td @click="orderByWhat('over')"><%= t(:event_over) %></td>
        <td @click="orderByWhat('participants_count')"><%= t(:event_participants_number) %></td>
        <td></td>
      </tr>
    </thead>

    <!-- Vue events -->
    <tbody >
      <tr v-for=" event in events | orderBy what order | filterBy searchText in fields " onclick="window.document.location='/admin/events/{{event.id}}';">
        <td>{{ $index + 1}}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.sign_up_begin_format }}</td>
        <td>{{ event.sign_up_end_format }}</td> 
        <td>{{ event.start_format }}</td>
        <td>{{ event.over_format }}</td>
        <td>{{ event.participants_count }} / {{ event.max_sign_up_number }}</td>
        <td class="btn-group">
          <a class="btn btn-sm btn-default" href="/admin/events/{{event.id}}/edit">編輯</a>
          <a class="btn btn-sm btn-danger" data-confirm="確定要刪除活動?" rel="nofollow" data-method="delete" href="/admin/events/{{event.id}}">刪除</a>
        </td>  
      </tr>
    </tbody>
  </table>

</div>
<script type="text/javascript">
  var events_data = <%= sanitize @events.to_json %>;
  var events = new Vue({
    el : '#events',
    data : {
      order : 1,
      what : '',
      events : events_data,
        searchText : '',
        fields : ['name']
    },
    created : function(){
      this.setTimeFormat();
    },
    methods : {
      orderByWhat : function(what){
        if (this.what == what) {
          this.order = this.order * -1;
        }
        else{
          this.order = 1;
          this.what = what;
        }   
      },
      setTimeFormat : function(){
        for (var i = 0; i < this.events.length; i++) {
          this.events[i].sign_up_begin_format = moment(this.events[i].sign_up_begin).format("YYYY年 M月D日 HH點mm分, dddd");
          this.events[i].sign_up_end_format = moment(this.events[i].sign_up_end).format("YYYY年 M月D日 HH點mm分, dddd");
          this.events[i].start_format = moment(this.events[i].start).format("YYYY年 M月D日 HH點mm分, dddd");
          this.events[i].over_format = moment(this.events[i].over).format("YYYY年 M月D日 HH點mm分, dddd");
        }
      }
    }
  });
</script>


