<h1 class="text-center"><%= t '.title' %></h1>
<div class="mt-2 btn-toolbar">
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse-search">
    <i class="fas fa-search"></i> <%= t('button.search_conditions') %>
  </a>
  <%= link_to new_admin_event_path, class: 'btn btn-outline-success ml-auto' do %>
    <i class="fas fa-plus"></i> <%= t '.new' %>
  <% end %>
</div>
<div class="collapse mt-2" id="collapse-search">
  <div class="card">
    <div class="card-body">
      <div class="nav nav-pills">
        <%= link_to t('.all'), admin_events_path, class: 'nav-item nav-link', id: 'event-nav-all' %>
        <%= link_to t('.registration'), admin_events_path(status: :registration), class: 'nav-item nav-link', id: 'event-nav-registration' %>
        <%= link_to t('.running'), admin_events_path(status: :running), class: 'nav-item nav-link', id: 'event-nav-running' %>
        <%= link_to t('.closed'), admin_events_path(status: :closed), class: 'nav-item nav-link', id: 'event-nav-closed' %>
      </div>
      <%= search_form_for @q, url: admin_events_url, class: 'form-inline mt-2' do |f| %>
        <%= hidden_field_tag :status, params[:status] %>
        <%= f.search_field :name_cont, class: 'form-control', placeholder: Event.human_attribute_name(:name) %>
        <div class="w-100 mt-2"></div>
        <%= link_to admin_events_path, class: 'btn btn-sm btn-outline-secondary ml-auto' do %>
          <i class="fas fa-eraser"></i> <%= t 'button.clear' %>
        <% end %>
        <button type="submit" class="btn btn-sm btn-outline-primary ml-1">
          <i class="fas fa-search"></i> <%= t 'button.search' %>
        </button>
      <% end %>
    </div>
  </div>
</div>
<div class="my-2">
  <%= paginate @events %>
  <table class="table d-sm-table d-none my-2">
    <thead class="thead-light">
      <tr>
        <th>
          <%= sort_link @q, :id do %>
            <%= Event.human_attribute_name :id %>
          <% end %>
        </th>
        <th><%= Event.human_attribute_name :name %></th>
        <th><%= Event.human_attribute_name :participants_count %></th>
        <th><%= Event.human_attribute_name :sign_up_time %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.id %></td>
          <td><%= event.name %></td>
          <td><%= event.participants_count %> / <%= event.max_sign_up_number %></td>
          <td><%= l event.sign_up_begin %> ~ <%= l event.sign_up_end %></td>
          <td class="btn-toolbar">
            <div class="btn-group">
              <%= link_to admin_event_path(event), class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-info-circle"></i> <%= t 'button.show' %>
              <% end %>
              <%= link_to edit_admin_event_path(event), class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-edit"></i> <%= t 'button.edit' %>
              <% end %>
              <%= link_to admin_event_path(event),
                          class: 'btn btn-sm btn-outline-danger',
                          method: :delete,
                          data: { confirm: t('.confirm') } do %>
                <i class="fas fa-trash"></i> <%= t 'button.delete' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- moblie -->
  <div class="list-group d-sm-none my-2">
    <% @events.each do |event| %>
      <%= link_to admin_event_path(event), class: 'list-group-item list-group-item-action' do %>
        <p><%= Event.human_attribute_name :name %> : <%= event.name %></p>
        <p><%= Event.human_attribute_name :participants_count %> : <%= event.participants_count %></p>
        <p><%= Event.human_attribute_name :sign_up_time %> : <%= l event.sign_up_begin %> ~ <%= l event.sign_up_end %></p>
      <% end %>
    <% end %>
  </div>
  <%= paginate @events %>
</div>
<script type="text/javascript">
  var href = new URL(window.location.href)
  var status = href.searchParams.get('status') || 'all'
  $(`#event-nav-${status}`).addClass('active')
</script>
