<%= link_to fa_icon('list', text: t('.back')), admin_events_path, class: 'btn btn-outline-secondary' %>
<h1 class="my-2 text-center"><%= Event.model_name.human %></h1>
<div class="my-2 d-flex">
  <%= link_to fa_icon('users', text: EventUser.model_name.human), admin_event_event_users_path(params[:id]), class: 'btn btn-outline-info' %>
  <%= link_to fa_icon('download', text: t('button.download')), download_admin_event_path(@event,format: :xlsx), class: 'btn btn-outline-success ml-auto' %>
  <%= link_to fa_icon('pencil', text: t('button.edit')), edit_admin_event_path(@event), class: 'btn btn-outline-primary ml-1' %>
  <%= link_to fa_icon('trash', text: t('button.delete')), admin_event_path(@event), class: 'btn btn-outline-danger ml-1', method: :delete, data: { confirm: t('.confirm') } %>
</div>
<%= render 'events/event', event: @event, render_for_admin: true %>
