<div class="d-flex my-4">
	<%= link_to t(:events_list), admin_events_path, class: "btn btn-secondary ml-1"%>
	<%= link_to t(:event_participants_list), show_participants_admin_event_path(@event), class: "btn btn-info ml-1" %>
  <%= link_to t(:download_excel), download_admin_event_path(@event,format: :xlsx), class: "btn btn-success ml-auto" %>
	<%= link_to(t(:edit), edit_admin_event_path(@event), class: "btn btn-warning ml-1") %>
	<%= link_to(t(:delete), admin_event_path(@event), class: "btn btn-danger ml-1", method: :delete, data: { confirm: "Are you sure?" } ) %>
</div>

<%= render 'events/event', :event => @event, render_for_admin: true %>
