
<div class="btn-group">
	<%= link_to t(:events_list), admin_events_path, class: "btn btn-default"%>
	<%= link_to t(:event_participants_list), show_list_admin_event_path(@event), class: "btn btn-info" %>
	<%= link_to '下載Excel', download_admin_event_path(@event,format: :xlsx), class: "btn btn-success" %>
</div>

<div class="btn-group pull-right">
	<%= link_to(t(:edit), edit_admin_event_path(@event), class: "btn btn-default") %>
	<%= link_to(t(:delete), admin_event_path(@event), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } ) %>
</div>

<%= render 'events/event_table', :e => @event %>

