<% content_for :breadcrumb do %>
<%= link_to t('pages.root'), root_path %>
>
<%= t('pages.sign_up') %>
<% end %>

<% content_for :jumbotron do %>
<h1 class="display-4 text-center"><%= t('pages.sign_up') %></h1>
<p class="lead text-center">註冊會員以享受此網站提供的服務，本網站支援Facebook登入，還沒有帳號可以前往註冊，加入我們。</p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="card h-100">
        <div class="card-block">
          <p class="card-text text-center lead my-4">
            已經註冊過了嗎?
            <%= link_to t('button.sign_in'), new_session_path(resource_name), class: "btn btn-outline-primary" %>
            網站吧!
          </p>
          <hr>
          <p class="card-text text-center lead my-4">
            或透過
            <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
            <%= fa_icon('facebook-official 3x') %>
            <% end %>
            登入本網站
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card h-100">
        <div class="card-block">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("至少要有 #{@minimum_password_length} 個字元" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "註冊", class: "btn btn-purple w-100" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
