<%= render 'devise/shared/breadcrumb' %>
<% content_for :breadcrumb do %>
  > 註冊
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">註冊</h1>
  <p class="lead text-center">註冊會員以享受此網站提供的服務，支援 Facebook 登入，還沒有帳號可以前往註冊，加入我們。</p>
<% end %>
<div class="container">
  <div class="card-deck">
    <div class="card my-2">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="card-body">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("至少要有 #{@minimum_password_length} 個字元" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
        <div class="card-body">
          <%= f.button :submit, '註冊', class: "btn-block btn-purple" %>
        </div>
      <% end %>
    </div>
    <div class="card text-center text-muted my-2">
      <div class="card-body">
        <%= link_to omniauth_authorize_path(resource_name, :facebook), class:'btn btn-outline-primary btn-block' do %>
          使用 <i class="fab fa-facebook fa-3x ml-1"></i> 登入網站
        <% end %>
      </div>
      <div class="card-body">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
