<% unless Rails.env.production? %>
  <h1>本郵件為測試郵件</h1>
<% end %>
<h1>茄典教會<%= @month %>月份壽星通知</h1>
<% @days.each.with_index do |users ,i| %>
  <% if users.present? %>
    <h2><%= "#{@month} 月 #{i} 號" %></h2>
    <% users.each do |user| %>
      <p><%= user.profile.name %> <span><%= (Time.now + 1.month).year - user.profile.birth.year %> 歲</span></p>
    <% end %>
  <% end %>
<% end %>
<%= link_to '前往網站查看會員詳情(需要管理員權限)', admin_members_url(q: { birth_month: @month }) %>
