<div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
  <h1><%= t '.title' %></h1>
  <div class="w-100"></div>
  <%= link_to t('.create'), new_admin_service_schedule_path, class: 'btn btn-success ml-auto' %>
</div>
<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><%= t '.conditions' %></a>
<div class="collapse" id="collapseSearch">
  <div class="card my-2">
    <div class="card-body">
      <%= search_form_for @q, url: admin_service_schedules_url, class: 'form-inline my-2 mx-5' do |f| %>
        <%= f.label Service::Team.human_attribute_name(:name), class: 'mr-1' %>
        <%= f.search_field :team_name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= f.label Service::Team.human_attribute_name(:leader), class: 'mr-1' %>
        <%= f.search_field :team_leader_profile_name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= link_to t('.clear'), admin_service_schedules_path, class: 'btn btn-outline-secondary ml-auto' %>
        <%= f.button t('.submit'), class: 'btn btn-outline-secondary mx-2 ml-1' %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @schedules %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Service::Team.human_attribute_name :name %></th>
      <th><%= Service::Team.human_attribute_name :leader %></th>
      <th><%= Service::Schedule.human_attribute_name :service_time %></th>
      <th><%= t '.more' %></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= link_to schedule.team.name, admin_service_team_path(schedule.team) %></td>
        <td><%= link_to schedule.team.leader.profile.try(:name), admin_member_path(schedule.team.leader) %></td>
        <td><%= l schedule.service_time %></td>
        <td>
          <%= link_to t('.edit'), edit_admin_service_schedule_path(schedule), class: 'btn btn-warning' %>
          <%= link_to t('.destroy'), admin_service_schedule_path(schedule), class: 'btn btn-danger', method: :delete, data: { confirm: t('.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @schedules %>
