<h1 class="text-center"><%= Service::Schedule.model_name.human %>一覽</h1>
<div class="mt-2 btn-toolbar">
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse-search">
    <i class="fas fa-search"></i> 搜尋條件
  </a>
  <%= link_to new_admin_service_schedule_path, class: 'btn btn-outline-success ml-auto' do %>
    <i class="fas fa-plus"></i> 新增<%= Service::Schedule.model_name.human %>
  <% end %>
</div>
<div class="collapse mt-2" id="collapse-search">
  <div class="card my-2">
    <div class="card-body">
      <%= search_form_for @q, url: admin_service_schedules_url, class: 'form-inline' do |f| %>
        <div class="input-group">
          <%= f.search_field :team_name_cont, class: 'form-control', placeholder: Service::Team.human_attribute_name(:name) %>
          <%= f.search_field :team_leader_profile_name_cont, class: 'form-control', placeholder: Service::Team.human_attribute_name(:leader) %>
        </div>
        <div class="w-100 mt-2"></div>
        <%= link_to admin_service_schedules_path, class: 'btn btn-sm btn-outline-secondary ml-auto' do %>
          <i class="fas fa-eraser"></i> 清除條件
        <% end %>
        <button type="submit" class="btn btn-sm btn-outline-primary ml-1">
          <i class="fas fa-search"></i> 搜尋
        </button>
      <% end %>
    </div>
  </div>
</div>
<div class="my-2">
  <%= paginate @schedules %>
  <table class="table my-2">
    <thead class="thead-light">
      <tr>
        <th><%= Service::Team.human_attribute_name :name %></th>
        <th><%= Service::Team.human_attribute_name :leader %></th>
        <th><%= Service::Schedule.human_attribute_name :service_time %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= link_to schedule.team.name, admin_service_team_path(schedule.team) %></td>
          <td><%= link_to schedule.team.leader.profile&.name, admin_member_path(schedule.team.leader) %></td>
          <td><%= l schedule.service_time %></td>
          <td class="btn-toolbar">
            <div class="btn-group">
              <%= link_to edit_admin_service_schedule_path(schedule), class: 'btn btn-sm btn-outline-secondary', data: { turbolinks: false } do %>
                <i class="fas fa-edit"></i> 編輯
              <% end %>
              <%= link_to admin_service_schedule_path(schedule),
                          class: 'btn btn-sm btn-outline-danger',
                          method: :delete,
                          data: { confirm: '確定要刪除這個服事時程表嗎？' } do %>
                <i class="fas fa-trash"></i> 刪除
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @schedules %>
</div>
