<div class="col-md-4 col-md-offset-4">
	<h1>Create Profile</h1>
	<hr/>
	<%= simple_form_for @profile, url: account_profile_new_path do |f| %>
	<div class="form-group">
		<%= f.input :name, label:t(:name) %>
		<%= f.input :sex, collection: ["男","女"], prompt: "Select your sex", label:t(:sex)%>
		<%= f.input :birth,
			start_year: Date.today.year - 100,
			end_year: Date.today.year, 
			order: [:year, :month, :day], label:t(:birth) %>
		<%= f.input :phone, placeholder: '07-XXXXXXX', label:t(:phone)%>
		<%= f.input :cellphone, label:t(:cellphone) %>
		<%= f.input :email, placeholder: 'example@gmail.com', label:t(:email) %>
		<%= f.input :address, label:t(:address) %>
		<%= f.input :education, label:t(:education) %>
	</div>
	<%= f.button :submit, class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
	<% end %>
</div>
