<% if @user.profile.nil? %>
    <% flash[:notice] = "你還沒填寫個人資料" %>
    <%= link_to(t(:create), account_profile_new_path) %>
<% else %>
    <div class="col-md-10 col-md-offset-1">
        <h2><%= t(:profile) %></h2>
        <hr/>
        <table class="table table-striped">
            <tbody>
                <% p=@user.profile %>
                <tr>
                    <td><%= t(:name) %></td>
                    <td><%= p.name %></td>
                </tr>
                <tr>
                    <td><%= t(:sex) %></td>
                    <td><%= p.sex %></td>
                </tr>
                <tr>
                    <td><%= t(:birth) %></td>
                    <td><%= p.birth%></td>
                </tr>
                <tr>
                    <td><%= t(:phone) %></td>
                    <td><%= p.phone%></td>
                </tr>
                <tr>
                    <td><%= t(:cellphone) %></td>
                    <td><%= p.cellphone%></td>
                </tr>
                <tr>
                    <td><%= t(:email) %></td>
                    <td><%= p.email%></td>
                </tr>
                <tr>
                    <td><%= t(:address) %></td>
                    <td><%= p.address%></td>
                </tr>
                <tr>
                    <td><%= t(:education) %></td>
                    <td><%= p.education%></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <%= link_to(t(:edit), account_profile_edit_path, class: "btn btn-primary pull-right") %>

    </div>
<% end %>