<nav class="navbar navbar-toggleable-md navbar-inverse bg-color fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "後台管理", admin_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto hidden-sm-up">
      <%= nav_li "會員", admin_members_path %>
      <%= nav_li "活動", admin_events_path %>
      <%= nav_li "佈告欄", admin_announcements_path %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <%= nav_li "回到前台", root_path %>
    </ul>
  </div>
</nav>
