<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <%= link_to admin_path, class: 'navbar-brand' do %>
    <%= image_tag 'brand_white.png', height: 30 %>
    <%= t('.brand') %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-sm-none">
      <%= nav_li fa_icon('user-circle', text: User.model_name.human), admin_members_path %>
      <%= nav_li fa_icon('futbol-o', text: Event.model_name.human), admin_events_path %>
      <%= nav_li fa_icon('bullhorn', text: Announcement.model_name.human), admin_announcements_path %>
      <%= nav_li fa_icon('comments', text: Contact.model_name.human), admin_contacts_path %>
    </ul>
    <hr>
    <ul class="navbar-nav mr-auto d-sm-none">
      <%= nav_li fa_icon('users', text: Service::Team.model_name.human), admin_service_teams_path %>
      <%= nav_li fa_icon('user-md', text: Service::Role.model_name.human), admin_service_roles_path %>
      <%= nav_li fa_icon('calendar', text: Service::Schedule.model_name.human), admin_service_schedules_path %>
    </ul>
    <hr>
    <ul class="navbar-nav mr-auto d-sm-none">
      <%= nav_li fa_icon('gear', text: t('.sidekiq')), sidekiq_web_path, target: :_blank %>
    </ul>
    <hr>
    <ul class="navbar-nav ml-auto">
      <%= nav_li fa_icon('sign-out', text: t('.back')), root_path %>
    </ul>
  </div>
</nav>
