<div class="jumbotron jumbotron-color">
  <div class="container-fluid">
    <h1 class="display-3">個人活動管理</h1>
    <p class="lead my-4">顯示曾經報名了哪些活動。 前往<%= link_to "活動", events_path, class: "btn btn-success mx-2" %>查看其他活動
    </p>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>活動名稱</th>
        <th>性質</th>
        <th>報名人數</th>
        <th>活動時間</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to(event.name, event_path(event)) %>
        </td>
        <td>
          <%= event.nature %>
        </td>
        <td>
          <%= event.show_participants_count %>
          /
          <%= event.max_sign_up_number %>
        </td>
        <td>
          <%= event.start.strftime("%Y/%m/%d %H:%M") %>
          ~
          <%= event.over.strftime("%Y/%m/%d %H:%M") %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
