<%= render 'account/shared/breadcrumb' %>
<% content_for :breadcrumb do %>
  > <%= link_to '參加的活動', account_events_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">參加的活動</h1>
  <p class="lead text-center">
    顯示曾經報名了哪些活動，
    前往 <%= link_to '活動專區', events_path, class: 'btn btn-sm btn-outline-dark mx-2' %>
    查看與報名其他活動。</p>
<% end %>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= Event.human_attribute_name :name %></th>
        <th><%= Event.human_attribute_name :nature %></th>
        <th><%= Event.human_attribute_name :participants_count %></th>
        <th><%= Event.human_attribute_name :time %></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= event.nature %></td>
          <td><%= event.show_participants_count %> / <%= event.max_sign_up_number %></td>
          <td><%= l event.start %> ~ <%= l event.over %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
