<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= t('breadcrumb.account') %>
  >
  <%= link_to t('.title'), account_events_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= t('.title') %></h1>
  <p class="lead text-center"><%= t('.subtitle_html', link: link_to(t('.events'), events_path, class: 'btn btn-purple mx-2')) %></p>
<% end %>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.nature') %></th>
        <th><%= t('.participants_count') %></th>
        <th><%= t('.time') %></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= event.nature %></td>
          <td><%= event.show_participants_count %> / <%= event.max_sign_up_number %></td>
          <td><%= l event.start %> ~ <%= l event.over %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
