<% backstage ||= false %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Profile.human_attribute_name :name %></th>
      <th><%= Profile.human_attribute_name :sex %></th>
      <% if backstage %>
        <th><%= Profile.human_attribute_name :birth %></th>
        <th><%= Profile.human_attribute_name :id_number %></th>
        <th><%= User.human_attribute_name :email %></th>
        <th><%= Profile.human_attribute_name :phone %></th>
        <th><%= Profile.human_attribute_name :emergency_contact %></th>
        <th><%= EventUser.human_attribute_name :paid %></th>
        <th><%= EventUser.human_attribute_name :arrival %></th>
        <th><%= EventUser.human_attribute_name :remark %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% event_users.each do |event_user| %>
      <% user = event_user.user
    profile = (user.profile.blank? ? Profile.new : user.profile) %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.sex %></td>
        <% if backstage %>
          <td><%= l profile.birth %></td>
          <td><%= profile.id_number %></td>
          <td><%= user.email %></td>
          <td><%= profile.phone %><br><%= profile.cellphone %></td>
          <td><%= profile.emergency_contact %></td>
          <td><%= paid(event_user.paid) %></td>
          <td><%= arrival(event_user.arrival) %></td>
          <td><%= event_user.remark %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
