<div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
  <h1><%= t('service_team.all') %></h1>
  <div class="w-100"></div>
  <%= link_to t('service_team.create'), new_admin_service_team_path, class: 'btn btn-primary ml-auto' %>
</div>
<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><%= t('search_conditions') %></a>
<div class="collapse" id="collapseSearch">
  <div class="card my-2">
    <div class="card-body">
      <%= search_form_for @q, url: admin_service_teams_url, class: 'form-inline my-2 mx-5' do |f| %>
        <%= f.label t('service_team.name'), class: 'mr-1' %>
        <%= f.search_field :name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= f.label t('service_team.leader'), class: 'mr-1' %>
        <%= f.search_field :leader_profile_name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= f.label t('service_team.member'), class: 'mr-1' %>
        <%= f.search_field :users_profile_name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= link_to t('button.clear'), admin_service_teams_path, class: 'btn btn-outline-secondary ml-auto' %>
        <%= f.submit class: 'btn btn-outline-secondary mx-2 ml-1' %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @teams %>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th><%= t('service_team.name') %></th>
      <th><%= t('service_team.leader') %></th>
      <th><%= t('service_team.member') %></th>
      <th><%= t('service_team.schedules_count') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to team.leader.profile.try(:name), admin_member_path(team.leader) %></td>
        <td><%= team.users_count %></td>
        <td><%= team.schedules_count %></td>
        <td>
          <%= link_to t('button.more'), admin_service_team_path(team), class: 'btn btn-info' %>
          <%= link_to t('button.edit'), edit_admin_service_team_path(team), class: 'btn btn-primary' %>
          <%= link_to t('button.destroy'), admin_service_team_path(team), class: 'btn btn-danger', method: :delete, data: { confirm: t('sure?') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @teams %>
