<%= link_to admin_service_teams_path, class: 'btn btn-outline-secondary' do %>
  <i class="fas fa-list"></i> <%= t '.back' %>
<% end %>
<h1 class="mt-2 text-center"><%= Service::Team.model_name.human %><span class="ml-2"><%= @team.name %></span></h1>
<div class="mt-2 btn-toolbar">
  <div class="btn-group ml-auto">
    <%= link_to admin_service_schedules_path(q: {team_id_eq: @team.id}), class: 'btn btn-sm btn-outline-secondary' do %>
      <i class="fas fa-calendar"></i> <%= Service::Schedule.model_name.human %>
    <% end %>
    <%= link_to edit_admin_service_team_path,
                class: 'btn btn-sm btn-outline-secondary',
                data: { turbolinks: false } do %>
      <i class="fas fa-edit"></i> <%= t 'button.edit' %>
    <% end %>
    <%= link_to edit_admin_service_team_path,
              class: 'btn btn-sm btn-outline-danger',
              method: :delete,
              data: { confirm: t('.confirm') } do %>
      <i class="fas fa-trash"></i> <%= t 'button.delete' %>
    <% end %>
  </div>
</div>
<div class="my-2">
  <h2 class="text-center"><%= Service::TeamUser.model_name.human %></h2>
  <div class="mt-2">
    <%= paginate @team_users %>
    <table class="table my-2">
      <thead class="thead-light">
        <tr>
          <th><%= Profile.human_attribute_name :name %></th>
          <th><%= Role.model_name.human %></th>
        </tr>
      </thead>
      <tbody>
        <% @team_users.each do |team_user| %>
          <tr>
            <td><%= link_to team_user.user.profile&.name, admin_member_path(team_user.user) %></td>
            <td><%= link_to team_user.role.name, admin_service_role_path(team_user.role) if team_user.role %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @team_users%>
  </div>
</div>
