<%= link_to t('.back'), admin_service_teams_path, class: 'btn btn-outline-secondary mr-auto' %>
<h1 class="text-center"><%= t '.title', name: @team.name %></h1>
<div class="d-flex align-items-center">
  <div class="mr-auto"></div>
  <%= link_to Service::Schedule.model_name.human, admin_service_schedules_path(q: {team_id_eq: @team.id}), class: 'btn btn-info mr-1' %>
  <%= link_to t('.edit'), edit_admin_service_team_path, class: 'btn btn-warning mr-1' %>
  <%= link_to t('.destroy'), admin_service_team_path, method: :delete, class: 'btn btn-danger', data: { confirm: t('.confirm') } %>
</div>
<h2><%= Service::TeamUser.model_name.human %></h2>
<%= paginate @team_users, param_name: :page %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Profile.human_attribute_name :name %></th>
      <th><%= Role.model_name.human %></th>
    </tr>
  </thead>
  <tbody>
    <% @team_users.each do |team_user| %>
      <tr>
        <td><%= link_to team_user.user.profile.try(:name), admin_member_path(team_user.user) if team_user.user.present? %></td>
        <td><%= link_to team_user.role.try(:name), admin_service_role_path(team_user.role) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @team_users, param_name: :page %>
