<% stage ||= :frontstage %>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between">
      <h5><%= Group.human_attribute_name :name %> :</h5>
      <span><%= group.name %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <h5><%= Group.human_attribute_name :leader %> :</h5>
      <span><%= group.leader&.profile&.name %></span>
    </li>
    <% if stage == :backstage %>
      <li class="list-group-item d-flex justify-content-between">
        <h5><%= Group.human_attribute_name :created_at %> :</h5>
        <span> <%= l group.created_at %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <h5><%= Group.human_attribute_name :updated_at %> :</h5>
        <span><%= l group.updated_at %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <h5><%= Group.human_attribute_name :creater %> :</h5>
        <span><%= group.creater&.profile&.name %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <h5><%= Group.human_attribute_name :members_count %> :</h5>
        <span><%= group.members_count %></span>
      </li>
    <% end %>
    <li class="list-group-item">
      <h5><%= Group.human_attribute_name :introduction %> :</h5>
      <div class="card-body">
        <%= simple_format group.introduction %>
      </div>
    </li>
    <li class="list-group-item">
      <h5><%= Group.human_attribute_name :description %> :</h5>
      <div class="card-body">
        <%= simple_format group.description %>
      </div>
    </li>
  </ul>
</div>
