<% stage ||= :frontstage %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Group.human_attribute_name :sequence %></th>
      <th><%= Group.human_attribute_name :name %></th>
      <th><%= Group.human_attribute_name :leader %></th>
      <%= content_tag :th, Group.human_attribute_name(:reports_count) if stage == :backstage %>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% groups.each do |group| %>
      <tr title="<%= group.introduction %>">
        <td><%= group.sequence %></td>
        <td><%= group.name %></td>
        <td><%= group.leader&.profile&.name %></td>
        <%= content_tag :td, group.reports_count if stage == :backstage %>
        <td>
          <% if stage == :backstage  %>
            <%= link_to t('.show'), admin_group_path(group), class: 'btn btn-outline-secondary' %>
            <%= link_to t('.edit'), edit_admin_group_path(group), class: 'btn btn-outline-primary' %>
          <% else %>
            <%= link_to t('.show'), group_path(group), class: 'btn btn-outline-secondary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
