<% stage ||= :frontstage %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Group.human_attribute_name :sequence %></th>
      <th><%= Group.human_attribute_name :name %></th>
      <th><%= Group.human_attribute_name :leader %></th>
      <%= content_tag :th, Group.human_attribute_name(:reports_count) if stage == :backstage %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <tr title="<%= group.introduction %>">
        <td><%= group.sequence %></td>
        <td><%= group.name %></td>
        <td><%= group.leader&.profile&.name %></td>
        <%= content_tag :td, group.reports_count if stage == :backstage %>
        <td>
          <% if stage == :backstage  %>
            <%= link_to fa_icon('info-circle', text: t('.show')), admin_group_path(group), class: 'btn btn-sm btn-outline-secondary' %>
            <%= link_to fa_icon('pencil', text: t('.edit')), edit_admin_group_path(group), class: 'btn btn-sm btn-outline-primary' %>
            <%= link_to fa_icon('trash', text: t('button.delete')), admin_group_path(group), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: t('.confirm') } %>
          <% else %>
            <%= link_to fa_icon('info-circle', text: t('.show')), group_path(group), class: 'btn btn-sm btn-outline-secondary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
