<% stage ||= :frontstage %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Group.human_attribute_name :name %></th>
      <th><%= Group.human_attribute_name :leader %></th>
      <th><%= Group.human_attribute_name :introduction %></th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.leader&.profile&.name %></td>
        <td><%= group.introduction %></td>
        <td>
          <% if stage == :backstage  %>
            <%= link_to t('.show'), admin_group_path(group), class: 'btn btn-sm btn-secondary' %>
            <%= link_to t('.edit'), edit_admin_group_path(group), class: 'btn btn-sm btn-primary' %></>
            <%= link_to t('.destroy'), admin_group_path(group), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: t('.confirm') } %>
          <% else %>
            <%= link_to t('.show'), group_path(group), class: 'btn btn-sm btn-secondary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
