<% stage ||= :frontstage %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Group.human_attribute_name :sequence %></th>
      <th><%= Group.human_attribute_name :name %></th>
      <th><%= Group.human_attribute_name :leader %></th>
      <th><%= Group.human_attribute_name :reports_count %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td><%= group.sequence %></td>
        <td><%= group.name %></td>
        <td><%= group.leader&.profile&.name %></td>
        <td><%= group.reports_count %></td>
        <td>
          <% if stage == :backstage %>
            <%= link_to admin_group_path(group), class: 'btn btn-sm btn-outline-secondary' do %>
              <i class="fas fa-info-circle"></i> 查看
            <% end %>
            <%= link_to edit_admin_group_path(group), class: 'btn btn-sm btn-outline-primary' do %>
              <i class="fas fa-edit"></i> 編輯
            <% end %>
            <%= link_to admin_group_path(group),
                          class: 'btn btn-sm btn-outline-danger',
                          method: :delete,
                          data: { confirm: '確定要刪除小組嗎？' } do %>
              <i class="fas fa-trash"></i> 刪除
            <% end %>
          <% elsif stage == :frontstage %>
            <%= link_to group_path(group), class: 'btn btn-sm btn-outline-secondary' do %>
              <i class="fas fa-info-circle"></i> 查看
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
