<div class="btn-group pull-right">
	<%= link_to( t(:new_group), new_group_path, class: "btn btn-primary") if current_user.present? && current_user.is_manager? %>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th><%= t(:title) %></th>
			<th><%= t(:description) %></th>
			<th><%= t(:post_count) %></th>
			<th><%= t(:last_update) %></th>
		</tr>
	</thead>
	<tbody>
		<% i=0 %>
		<% @groups.each do |group| %>
		<tr>
			<td><%= i+=1 %></td>
			<td><%= link_to(group.title, group_path(group)) %></td>
			<td> <%= group.description %> </td>
			<td> <%= group.posts.size %> </td>
			<td> <%= group.updated_at %> </td>
			<td>
				<!--編輯與刪除要通過條件才顯示-->
				<% if current_user.present? && current_user.is_manager? %>
					<%= link_to(t(:edit), edit_group_path(group), class: "btn btn-sm btn-primary")%>
					<%= link_to(t(:delete), group_path(group),    class: "btn btn-sm btn-danger",
					method: :delete, data: { confirm: "Are you sure?" } )%>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

