<% render_for_admin = render_for_admin || false %>
<table class="table">
  <% if render_for_admin %>
  <thead class="thead-default">
    <tr>
      <th>id</th>
      <th><%= t(:name) %></th>
      <th><%= t(:sex) %></th>
      <th><%= t(:birth) %></th>
      <th><%= t('profile.id_number') %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:phone) %></th>
      <th><%= t(:cellphone) %></th>
      <th><%= t('profile.emergency_contact') %></th>
      <th><%= t(:address) %></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <% if user.profile.nil? %>
    <% profile = Profile.new %>
  <% else %>
    <% profile = user.profile %>
    <% end %>
    <tr onclick="window.document.location='<%= admin_member_path(user) %>';">
      <td><%= user.id %></td>
      <td><%= profile.name %></td>
      <td><%= profile.sex %></td>
      <td><%= profile.birth %></td>
      <td><%= profile.id_number %></td>
      <td><%= user.email %></td>
      <td><%= profile.phone %></td>
      <td><%= profile.cellphone %></td>
      <td><%= profile.emergency_contact %></td>
      <td><%= profile.address %></td>
    </tr>
    <% end %>
  </tbody>

<% else #render for non-admin %>
  <thead class="thead-default">
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:sex) %></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td><%= user.profile.name %></td>
      <td><%= user.profile.sex %></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
