<table class="table table-hover">
  <% if admin||=false %>
  <thead>
    <tr>
      <td>id</td>
      <td><%= t(:name) %></td>
      <td><%= t(:sex) %></td>
      <td><%= t(:birth) %></td>
      <td><%= t(:email) %></td>
      <td><%= t(:phone) %></td>
      <td><%= t(:cellphone) %></td>
      <td><%= t(:address) %></td>
    </tr>
  </thead>
  <tbody >
    <% users.each do |user| %>
    <tr onclick="window.document.location='<%= admin_member_path(user) %>';">
      <% if user.profile.nil? %>
      <td><%= user.id %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= user.email %></td>
      <td></td>
      <td></td>
      <td></td>
      <% else %>
      <td><%= user.id %></td>
      <td><%= user.profile.name %></td>
      <td><%= user.profile.sex %></td>
      <td><%= user.profile.birth %></td>
      <td><%= user.email %></td>
      <td><%= user.profile.phone %></td>
      <td><%= user.profile.cellphone %></td>
      <td><%= user.profile.address %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>

  <% else %>
  <thead>
    <tr>
      <td @click="orderByWhat('profile.name')"><%= t(:name) %></td>
      <td @click="orderByWhat('profile.sex')"><%= t(:sex) %></td>
    </tr>
  </thead>
  <tbody >
    <% users.each do |user| %>
    <tr>
      <td><%= user.profile.name %></td>
      <td><%= user.profile.sex %></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
