<div id="users">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <form class="form-horizontal" role="form">
        <input v-model="searchText" class="form-control" placeholder="關鍵字">
      </form>
    </div>
  </div>
  <br>
  <table class="table table-hover">
    <% if admin||=false %>
    <thead>
      <tr class="text-center">
        <td @click="orderByWhat('id')">id</td>
        <td @click="orderByWhat('profile.name')"><%= t(:name) %></td>
        <td @click="orderByWhat('profile.sex')"><%= t(:sex) %></td>
        <td @click="orderByWhat('profile.birth')"><%= t(:birth) %></td>
        <td @click="orderByWhat('email')"><%= t(:email) %></td>
        <td @click="orderByWhat('profile.phone')"><%= t(:phone) %></td>
        <td @click="orderByWhat('profile.cellphone')"><%= t(:cellphone) %></td>
        <td @click="orderByWhat('profile.address')"><%= t(:address) %></td>
      </tr>
    </thead>
    <tbody >
      <tr v-for=" user in users | orderBy what order | filterBy searchText in fields ">
        <td>{{ user.id }}</td>
        <td>{{ user.profile.name }}</td>
        <td>{{ user.profile.sex }}</td>
        <td>{{ user.profile.birth }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.profile.phone }}</td>
        <td>{{ user.profile.cellphone }}</td>
        <td>{{ user.profile.address }}</td>
      </tr>
    </tbody>
    <% else %>
    <thead>
      <tr class="text-center" >
        <td @click="orderByWhat('profile.name')"><%= t(:name) %></td>
        <td @click="orderByWhat('profile.sex')"><%= t(:sex) %></td>
      </tr>
    </thead>
    <tbody >
      <tr v-for=" user in users | orderBy what order | filterBy searchText in fields ">
        <td>{{ user.profile.name }}</td>
        <td>{{ user.profile.sex }}</td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<script type="text/javascript">
var users_data = <%= sanitize users.to_json(include: :profile) %>;
var users = new Vue({
  el : '#users',
  data : {
    order : 1,
    what : 'id',
    users : users_data,
      searchText : '',
      fields : ['id','profile.name','profile.sex','profile.birth','email','profile.phone','profile.cellphone','profile.address']
  },
  created : function(){
    this.checkProfile();
    <% if !(admin||=false) %>
    this.markNames();
    <% end %>

  },
  methods : {
    orderByWhat : function(what){
      if (this.what == what) {
        this.order = this.order * -1;
      }
      else{
        this.order = 1;
        this.what = what;
      }
    },
    checkProfile : function(){
      for (var i = 0; i < this.users.length; i++) {
        if ( !this.users[i].profile ) {
          this.users[i].profile = {
            name : '',
            sex : '',
            birth : '',
            phone : '',
            cellphone : '',
            address : ''
          };
        }
      }
    },
    markNames : function () {
      for (var i = 0; i < this.users.length; i++) {
        var nameArray = this.users[i].profile.name.split("");
        switch(nameArray.length){
          case 2 :
            nameArray.splice(1, 1, "X");
            break;
          case 3 :
            nameArray.splice(1, 1, "X");
            break;
          case 4 :
            nameArray.splice(2, 1, "X");
            break;
          default :
        }
        this.users[i].profile.name = nameArray.join("");
      }
    }
  }
});
</script>
