<%= render 'devise/shared/breadcrumb' %>
<% content_for :breadcrumb do %>
  > 重設密碼
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">重設密碼</h1>
  <p class="lead text-center">輸入您的新密碼。</p>
<% end %>
<div class="container">
  <div class="card-deck">
    <div class="card my-2">
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>
          <div class="form-inputs">
            <%= f.input :password, label: '新密碼', required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, label: '再次確認密碼', required: true %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, '更改密碼' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card text-center text-muted my-2">
      <div class="card-body">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
