<% content_for :breadcrumb do %>
<%= link_to t('pages.root'), root_path %>
>
<%= t('pages.reset_password') %>
<% end %>

<% content_for :jumbotron do %>
<h1 class="display-4 text-center"><%= t('pages.reset_password') %></h1>
<p class="lead text-center">輸入當初註冊的Email，系統將會寄送重設密碼的鏈結至你的Email</p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="card h-100">
        <div class="card-block">
          <p class="card-text text-center lead my-4">
            已經註冊過了嗎?
            <%= link_to "登入", new_session_path(resource_name), class: "btn btn-info" %>
            網站吧!
          </p>
          <hr>
          <p class="card-text text-center lead my-4">
            或透過
            <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
            <%= fa_icon('facebook-official 3x') %>
            <% end %>
            登入本網站
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card h-100">
        <div class="card-block">
          <h2 class="card-title text-center">忘記密碼了?</h2>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "送出" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
