<%= render 'devise/shared/breadcrumb' %>
<% content_for :breadcrumb do %>
  > 忘記密碼
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">忘記密碼</h1>
  <p class="lead text-center">輸入當初註冊的Email，系統將會寄送重設密碼的鏈結至你的 Email。</p>
<% end %>
<div class="container">
  <div class="card-deck">
    <div class="card my-2">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="card-body">
          <%= f.error_notification %>
          <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="card-body">
          <%= f.button :submit, '寄送密碼重設信', class: 'btn-block btn-warning' %>
        </div>
      <% end %>
    </div>
    <div class="card text-center text-muted my-2">
      <div class="card-body">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
