<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= t('.title') %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= t('.title') %></h1>
  <p class="lead text-center"><%= t('.subtitle') %></p>
<% end %>
<div class="container">
  <div class="card-deck">
    <div class="card my-2">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="card-body">
          <%= f.error_notification %>
          <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="card-body">
          <%= f.button :submit, t('.submit'), class: 'btn-block btn-warning' %>
        </div>
      <% end %>
    </div>
    <div class="card text-center text-muted my-2">
      <div class="card-body">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
