<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_pack_tag 'brand.png', height: 30 %> 茄典教會
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-content">
    <% if can? :manage, :admin %>
      <div class="navbar-nav">
        <%= nav_item_link_to admin_path do %>
          <i class="fas fa-tachometer-alt mr-1"></i> 後台
        <% end %>
      </div>
    <% end %>
    <div class="navbar-nav ml-auto">
      <%= nav_item_link_to weeklies_path, data: { active: 'weeklies' } do %>
        <i class="fas fa-newspaper"></i> <%= Weekly.model_name.human %>
      <% end %>
      <%= nav_item_link_to events_path, data: { active: 'events' } do %>
        <i class="fas fa-running mr-1"></i> <%= Event.model_name.human %>
      <% end %>
      <%= nav_item_link_to group_reports_path, data: { active: 'group_reports' } do %>
        <i class="fas fa-chart-pie mr-1"></i> <%= GroupReport.model_name.human %>
      <% end %>
      <% if user_signed_in? %>
        <div class="nav-item dropdown">
          <%= nav_item_link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
            <i class="fas fa-user mr-1"></i> 會員中心
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to account_events_path, class: 'dropdown-item', data: { active: 'account-events' } do %>
              <i class="fas fa-running mr-1"></i> 我的活動
            <% end %>
            <%= link_to account_profile_path, class: 'dropdown-item', data: { active: 'account-profile' } do %>
              <i class="fas fa-address-card mr-1"></i> 個人資料
            <% end %>
            <%= link_to account_subscription_path, class: 'dropdown-item', data: { active: 'account-subscription' } do %>
              <i class="fas fa-bell mr-1"></i> 通知設定
            <% end %>
            <%= link_to edit_user_registration_path, class: 'dropdown-item', data: { active: 'users-edit' } do %>
              <i class="fas fa-cog mr-1"></i> 帳號設定
            <% end %>
          </div>
        </div>
        <%= nav_item_link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt mr-1"></i> 登出
        <% end %>
      <% else %>
        <%= nav_item_link_to new_user_registration_path, data: { active: 'users-sign_up' } do %>
          <i class="fas fa-user-plus mr-1"></i> 註冊
        <% end %>
        <%= nav_item_link_to new_user_session_path, data: { active: 'users-sign_in' } do %>
          <i class="fas fa-sign-in-alt mr-1"></i> 登入
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
<%= javascript_pack_tag 'active-nav', 'data-turbolinks-track': 'reload' %>
