<h1 class="text-center"><%= Service::Role.model_name.human %>一覽</h1>
<div class="mt-2 btn-toolbar">
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse-search">
    <i class="fas fa-search"></i> 搜尋條件
  </a>
  <%= link_to new_admin_service_role_path, class: 'btn btn-outline-success ml-auto' do %>
    <i class="fas fa-plus"></i> 新增<%= Service::Role.model_name.human %>
  <% end %>
</div>
<div class="collapse mt-2" id="collapse-search">
  <div class="card">
    <div class="card-body">
      <%= search_form_for @q, url: admin_service_roles_url, class: 'form-inline' do |f| %>
        <%= f.search_field :name_cont, class: 'form-control', placeholder: Service::Role.human_attribute_name(:name) %>
        <div class="w-100 mt-2"></div>
        <%= link_to admin_service_roles_path, class: 'btn btn-sm btn-outline-secondary ml-auto' do %>
          <i class="fas fa-eraser"></i> 清除條件
        <% end %>
        <button type="submit" class="btn btn-sm btn-outline-primary ml-1">
          <i class="fas fa-search"></i> 搜尋
        </button>
      <% end %>
    </div>
  </div>
</div>
<div class="my-2">
  <%= paginate @roles %>
  <table class="table my-2">
    <thead class="thead-light">
      <tr>
        <th><%= Service::Role.human_attribute_name(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td class="btn-toolbar">
            <div class="btn-group">
              <%= link_to admin_service_role_path(role), class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-info-circle"></i> 查看
              <% end %>
              <%= link_to edit_admin_service_role_path(role), class: 'btn btn-sm btn-outline-secondary', data: { turbolinks: false } do %>
                <i class="fas fa-edit"></i> 編輯
              <% end %>
              <%= link_to admin_service_role_path(role),
                          class: 'btn btn-sm btn-outline-danger',
                          method: :delete,
                          data: { confirm: '確定要刪除這個角色嗎？' } do %>
                <i class="fas fa-trash"></i> 刪除
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @roles %>
</div>
