<h1 class="text-center"><%= t '.title' %></h1>
<div class="my-2 d-flex">
  <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
    <%= fa_icon('search', text: t('button.search_conditions')) %>
  </a>
  <%= link_to fa_icon('plus', text: t('.new')), new_admin_service_role_path, class: 'btn btn-outline-success ml-auto' %>
</div>
<div class="collapse" id="collapse-search">
  <div class="card my-2">
    <div class="card-body">
      <%= search_form_for @q, url: admin_service_roles_url, class: 'form-inline my-2 mx-5' do |f| %>
        <%= f.label Service::Role.human_attribute_name(:name), class: 'mr-1' %>
        <%= f.search_field :name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= link_to fa_icon('undo', text: t('button.clear')), admin_service_roles_path, class: 'btn btn-outline-secondary ml-auto' %>
        <%= f.button fa_icon('search', text: t('button.search')), class: 'btn btn-outline-secondary mx-2 ml-1' %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @roles %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Service::Role.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td>
          <%= link_to fa_icon('info-circle', text: t('button.show')), admin_service_role_path(role), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to fa_icon('pencil', text: t('button.edit')), edit_admin_service_role_path(role), class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to fa_icon('trash', text: t('button.delete')), admin_service_role_path(role), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: t('.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @roles %>
