<%= link_to admin_service_roles_path, class: 'btn btn-outline-secondary' do %>
  <i class="fas fa-list"></i> <%= Service::Role.model_name.human %>一覽
<% end %>
<h1 class="mt-2 text-center"><%= Service::Role.model_name.human %> <span class="ml-2"><%= @role.name %></span></h1>
<div class="mt-2 btn-toolbar">
  <div class="btn-group ml-auto">
    <%= link_to edit_admin_service_role_path, class: 'btn btn-sm btn-outline-secondary' do %>
      <i class="fas fa-edit"></i> 編輯
    <% end %>
    <%= link_to admin_service_role_path,
            class: 'btn btn-sm btn-outline-danger',
            method: :delete,
            data: { confirm: '確定要刪除這個角色嗎？' } do %>
      <i class="fas fa-trash"></i> 刪除
    <% end %>
  </div>
</div>
<div class="my-2">
  <%= paginate @team_users %>
  <table class="table my-2">
    <thead class="thead-light">
      <tr>
        <th><%= Profile.human_attribute_name :name %></th>
        <th><%= Service::Team.human_attribute_name :name %></th>
      </tr>
    </thead>
    <tbody>
      <% @team_users.each do |team_user| %>
        <tr>
          <td><%= link_to team_user.user.profile&.name, admin_member_path(team_user.user) %></td>
          <td><%= link_to team_user.team.name, admin_service_team_path(team_user.team) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @team_users %>
</div>
