<%= link_to fa_icon('list', text: t('.back')), admin_service_roles_path, class: 'btn btn-outline-secondary' %>
<h1 class="my-2 text-center"><%= Service::Role.model_name.human %></h1>
<h2 class="my-2 text-center"><%= @role.name %></h2>
<div class="my-2 d-flex align-items-center">
  <%= link_to fa_icon('pencil', text: t('button.edit')), edit_admin_service_role_path, class: ' ml-auto btn btn-outline-primary' %>
  <%= link_to fa_icon('trash', text: t('button.delete')), admin_service_role_path, method: :delete, class: 'ml-1 btn btn-outline-danger', data: { confirm: t('.confirm') } %>
</div>
<%= paginate @team_users %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Profile.human_attribute_name :name %></th>
      <th><%= Service::Team.human_attribute_name :name %></th>
    </tr>
  </thead>
  <tbody>
    <% @team_users.each do |team_user| %>
      <tr>
        <td><%= link_to team_user.user.profile&.name, admin_member_path(team_user.user) %></td>
        <td><%= link_to team_user.team.name, admin_service_team_path(team_user.team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @team_users %>
