<%= link_to t('.back'), admin_service_roles_path, class: 'btn btn-outline-secondary mr-auto' %>
<h1 class="text-center"><%= "#{Service::Role.model_name.human} : #{@role.name}" %></h1>
<div class="d-flex align-items-center">
  <div class="mr-auto"></div>
  <%= link_to t('.edit'), edit_admin_service_role_path, class: 'btn btn-primary mr-1' %>
  <%= link_to t('.destroy'), admin_service_role_path, method: :delete, class: 'btn btn-danger', data: { confirm: t('.confirm') } %>
</div>
<%= paginate @team_users %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Profile.human_attribute_name :name %></th>
      <th><%= Service::Team.human_attribute_name :name %></th>
    </tr>
  </thead>
  <tbody>
    <% @team_users.each do |team_user| %>
      <tr>
        <td><%= link_to team_user.try(:user).try(:profile).try(:name), admin_member_path(team_user.user) %></td>
        <td><%= link_to team_user.team.name, admin_service_team_path(team_user.team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @team_users %>
