<% stage ||= :frontstage %>
<div class="card">
  <div class="card-body">
    <h3 class="card-title"><%= event.name %></h3>
    <p class="card-text my-4"><%= simple_format event.description %></p>
    <table class="table table-bordered d-none d-sm-table">
      <thead class="thead-light">
        <tr>
          <th><%= Event.human_attribute_name :nature %></th>
          <th><%= Event.human_attribute_name :participants_count %></th>
          <th><%= Event.human_attribute_name :min_sign_up_number %></th>
          <th><%= Event.human_attribute_name :max_sign_up_number %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= event.nature %></td>
          <td><%= event.show_participants_count %></td>
          <td><%= event.min_sign_up_number %></td>
          <td><%= event.max_sign_up_number %></td>
        </tr>
      </tbody>
      <thead class="thead-light">
        <tr>
          <th><%= Event.human_attribute_name :sign_up_begin %></th>
          <th><%= Event.human_attribute_name :sign_up_end %></th>
          <th><%= Event.human_attribute_name :start %></th>
          <th><%= Event.human_attribute_name :over %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= l event.sign_up_begin %></td>
          <td><%= l event.sign_up_end %></td>
          <td><%= l event.start %></td>
          <td><%= l event.over %></td>
        </tr>
      </tbody>
      <thead class="thead-light">
        <tr>
          <th><%= Event.human_attribute_name :check_arrival %></th>
          <th><%= Event.human_attribute_name :registery_fee %></th>
          <%= content_tag(:th, Event.human_attribute_name(:show_participants)) if stage == :backstage %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= Event.human_attribute_name("check_arrival.#{event.check_arrival}") %></td>
          <td><%= fee(event.registery_fee) %></td>
          <%= content_tag :td, Event.human_attribute_name("show_participants.#{event.show_participants}") if stage == :backstage %>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered d-sm-none">
      <tbody>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :nature %></th>
          <td><%= event.nature %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :participants_count %></th>
          <td><%= event.show_participants_count %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :min_sign_up_number %></th>
          <td><%= event.min_sign_up_number %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :max_sign_up_number %></th>
          <td><%= event.max_sign_up_number %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :sign_up_begin %></th>
          <td><%= l event.sign_up_begin %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :sign_up_end %></th>
          <td><%= l event.sign_up_end %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :start %></th>
          <td><%= l event.start %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :over %></th>
          <td><%= l event.over %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :check_arrival %></th>
          <td><%= Event.human_attribute_name("check_arrival.#{event.check_arrival}") %></td>
        </tr>
        <tr>
          <th class="bg-light"><%= Event.human_attribute_name :registery_fee %></th>
          <td><%= fee(event.registery_fee) %></td>
        </tr>
        <% if stage == :backstage %>
          <th class="bg-light"><%= Event.human_attribute_name :show_participants %></th>
          <td><%= Event.human_attribute_name("show_participants.#{event.show_participants}") %></td>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if stage == :frontstage %>
    <div class="card-body">
      <%= link_to t('.quit'), quit_event_path(@event), method: :post, class: 'btn btn-warning' if user_signed_in? && current_user.joined?(@event) && @event.on_registration? %>
      <%= link_to t('.participants'), participants_event_path(@event), class: 'btn btn-outline-dark' if user_signed_in? && current_user.joined?(@event) && @event.show_participants %>
      <%= form_tag join_event_path(@event), method: :post, class: 'form-inline' do %>
        <label class="mr-2"><%= EventUser.human_attribute_name :remark %></label>
        <%= text_field_tag :remark, nil, class: 'form-control' %>
        <%= submit_tag t('.join'), class: 'ml-auto btn btn-success', data: { disable_with: t('.submitting') } %>
      <% end if user_signed_in? && !current_user.joined?(@event) && @event.on_registration? %>
    </div>
  <% end %>
</div>
