<div class="col-md-6 col-md-offset-3">
	<h1>修改活動</h1>
	<hr>
	<%= simple_form_for @event do |f| %>
	<div class="form-group">
		<%= f.input :name, label: t(:event_name) %>
		<%= f.input :nature, label: t(:nature) %>
		<%= f.input :description, label: t(:description) %>
		<%= f.input :max_sign_up_number, label: t(:max_sign_up_number) %>
		<%= f.input :min_sign_up_number, label: t(:min_sign_up_number) %>
		<%= f.input :sign_up_begin, label: t(:sign_up_begin) %>
		<%= f.input :sign_up_end, label: t(:sign_up_end) %>
		<%= f.input :start, label: t(:event_start) %>
		<%= f.input :over, label: t(:event_over) %>
	</div>
	<%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
	<% end %>
</div>