<%= render 'jumbotron' %>

<div class="container">

  <h2>
    當前的活動<span class="badge badge-primary ml-2">New</span>
  </h2>
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-12 col-md-4 col-lg-3 py-1">
      <%= link_to event_path(event), class: "card-link event-card" do %>
      <div class="card h-100 pb-1">
        <div class="card-body">
          <h3 class="card-title"><%= event.name %></h3>
          <p class="card-text"><%= truncate(event.description, length: 90) %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= t('event.participants_count') %>:<%= event.show_participants_count %></li>
        </ul>
        <div class="card-footer">
          <small class="text-muted">截止時間:<%= event.sign_up_end.strftime("%Y/%m/%d %H:%M") %></small>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <hr>

  <h2>過期的活動</h2>
  <%= paginate @expired_events %>
  <div class="row">
    <% @expired_events.each do |event| %>
    <div class="col-12 col-md-4 col-lg-3 py-1">
      <%= link_to event_path(event), class: "card-link event-card" do %>
      <div class="card h-100 pb-1">
        <div class="card-body">
          <h3 class="card-title"><%= event.name %></h3>
          <p class="card-text"><%= truncate(event.description, length: 90) %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= t('event.participants_count') %>:<%= event.show_participants_count %></li>
        </ul>
        <div class="card-footer">
          <small class="text-muted">截止時間:<%= event.sign_up_end.strftime("%Y/%m/%d %H:%M") %></small>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
