<%= render 'jumbotron' %>
<div class="container">
  <h2>
    <%= t '.current' %>
    <span class="badge badge-primary ml-2"><%= t '.new' %></span>
  </h2>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-12 col-md-4 my-2">
        <%= render 'card', event: event %>
      </div>
    <% end %>
  </div>
  <hr>
  <h2><%= t '.expired' %></h2>
  <div class="row">
    <% @expired_events.each do |event| %>
      <div class="col-12 col-md-4 my-2">
        <%= render 'card', event: event %>
      </div>
    <% end %>
  </div>
  <%= paginate @expired_events %>
</div>
