<%= render 'jumbotron' %>
<% content_for :breadcrumb do %>
  >
  <%= link_to @event.name, event_path(@event) %>
  >
  <%= t '.title' %>
<% end %>
<div class="container">
  <div class="d-flex p-2">
    <%= link_to t('.back'), event_path(@event), class: 'btn btn-outline-secondary' %>
  </div>
  <%= render 'event_users/table', event_users: @event_users %>
</div>
