<%= link_to t(:back_to_event), event_path(@event), class: "btn btn-default"%>
<% if current_user.is_manager? %>
  <div id="participants">
    
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-1 col-md-offset-8 control-label">搜索 : </label>
        <div class="col-md-2">
          <input v-model="searchText" class="form-control" placeholder="關鍵字">
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <td @click="orderByWhat('id')">#</td>
          <td @click="orderByWhat('profile.name')"><%= t(:name) %></td>
          <td @click="orderByWhat('profile.sex')"><%= t(:sex) %></td>
          <td @click="orderByWhat('profile.birth')"><%= t(:birth) %></td>
          <td @click="orderByWhat('profile.cellphone')"><%= t(:phone) %></td>
          <td @click="orderByWhat('profile.email')"><%= t(:email) %></td>
          <td @click="orderByWhat('profile.address')"><%= t(:address) %></td>
        </tr>
      </thead>
      <tbody >
        <tr v-for=" participant in participants | orderBy what order | filterBy searchText in fields">
          <td>{{ $index + 1}}</td>
          <td>{{ participant.profile.name }}</td>
          <td>{{ participant.profile.sex }}</td>
          <td>{{ participant.profile.birth }}</td>
          <td>{{ participant.profile.cellphone }}</td> 
          <td>{{ participant.profile.email }}</td>
          <td>{{ participant.profile.address }}</td> 
        </tr>
      </tbody>

      <!-- <tbody>
        <% # 這邊產生了 n+1 queries  %>
        <% # 修正方法：在 controller 中使用 @participants.includes(:profile) %>
        <% @participants.each do |participant| %>
        <% if participant.profile.nil? %>
          <tr>
            <td >
              <%= participant.name %>
            </td>
            <td colspan="5" class="text-center">
              <%= t(:no_profile) %>
            </td>
            
          </tr>
        <% else %>
          <tr>
            <td><%= participant.profile.name %></td>
            <td><%= participant.profile.sex %></td>
            <td><%= participant.profile.birth %></td>
            <td>
              <%= participant.profile.cellphone %>
              <br>
              <%= participant.profile.phone %></td>
            <td><%= participant.profile.email %></td>
            <td><%= participant.profile.address %></td>
          </tr>
        <% end %>
        <% end %>
      </tbody> -->
    </table>
  </div>
  <script type="text/javascript">
    var participants_data = <%= sanitize @participants.to_json(include: :profile) %>;

    var participants = new Vue({
      el : '#participants',
      data : {
        order : 1,
        what : '',
        participants : participants_data,
        searchText : '',
        fields : ['profile.name','profile.sex','profile.birth','profile.cellphone','profile.email','profile.address']
      },
      created : function(){
        this.checkProfile();
      },
      methods : {
        orderByWhat : function(what){
          if (this.what == what) {
            this.order = this.order * -1;
          }
          else{
            this.order = 1;
            this.what = what;
          }
          
        },
        checkProfile : function(){
          for (var i = 0; i < this.participants.length; i++) {
            if ( !this.participants[i].profile ) {
              this.participants[i].profile = {
                name : '',
                sex : '',
                birth : '',
                cellphone : '',
                email : '',
                address : ''
              };
              this.participants[i].profile.name = this.participants[i].name;
            } 
          }
        }
      }
    });
  </script>

<% else %>
  <div id="participants">
    <table class="table table-striped">
      <thead>
        <tr>
          <td @click="orderByWhat('id')">#</td>
          <td @click="orderByWhat('profile.name')"><%= t(:name) %></td>
          <td @click="orderByWhat('profile.sex')"><%= t(:sex) %></td>
        </tr>
      </thead>
      <tbody >
        <tr v-for=" participant in participants | orderBy what order | filterBy searchText in fields">
          <td>{{ $index + 1}}</td>
          <td>{{ participant.profile.name }}</td>
          <td>{{ participant.profile.sex }}</td>
        </tr>
      </tbody>

      <!-- <tbody>
          <% # 這邊產生了 n+1 queries  %>
          <% # 修正方法：在 controller 中使用 @participants.includes(:profile) %>
          <% @participants.each do |participant| %>
          <% if participant.profile.nil? %>
            <tr>
              <td >
                <%= participant.name %>
              </td>
              <td colspan="5" class="text-center">
                <%= t(:no_profile) %>
              </td>
              
            </tr>
          <% else %>
            <tr>
              <td><%= participant.profile.name %></td>
              <td><%= participant.profile.sex %></td>
            </tr>
          <% end %>
          <% end %>
        </tbody> -->

    </table>
  </div>
  <script type="text/javascript">
    var participants_data = <%= sanitize @participants.to_json(include: { profile: { only: [:name,:sex] }}) %>;

    var participants = new Vue({
      el : '#participants',
      data : {
        order : 1,
        what : '',
        participants : participants_data,
        searchText : '',
        fields : ['profile.name','profile.sex']
      },
      created : function(){
        this.checkProfile();
      },
      methods : {
        orderByWhat : function(what){
          if (this.what == what) {
            this.order = this.order * -1;
          }
          else{
            this.order = 1;
            this.what = what;
          }
          
        },
        checkProfile : function(){
          for (var i = 0; i < this.participants.length; i++) {
            if ( !this.participants[i].profile ) {
              this.participants[i].profile = {
                name : '',
                sex : '',
              };
              this.participants[i].profile.name = this.participants[i].name;
            } 
          }
        }
      }
    });
  </script>

<% end %>



