<% set_meta_tags title: t('.title'),
  description: t('.desc'),
  og: {
    title: t('.title'),
    description: t('.desc'),
    image: t('pages.index.seo.img_url')
  } %>
<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= link_to t('.title'), about_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= t '.title' %></h1>
  <p class="lead text-center"><%= t '.lead' %></p>
<% end %>
<div class="container">
  <%= t '.content_html' %>
</div>
