<% content_for :breadcrumb do %>
<%= link_to t('pages.root'), root_path %>
>
<%= link_to t('pages.contact'), contact_path %>
<% end %>

<% content_for :jumbotron do %>
<h1 class="display-4 text-center"><%= t('pages.contact') %></h1>
<p class="lead text-center">有任何問題嗎？馬上填寫表單聯絡我們！</p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 d-flex flex-wrap">
      <h2 class="my-2">茄典長老教會</h2>
      <div class="w-100"></div>
      <address><%= t('my_contact.address') %></address>
      <div class="w-100"></div>
      <h3>聚會時間</h3>
      <div class="w-100"></div>
      <p>主日崇拜</p>
      <p class="ml-auto">每週日 09:50 至 11:30</p>
      <div class="w-100"></div>
      <p>青少年團契</p>
      <p class="ml-auto">每週六 19:00 至 21:00</p>
      <div class="w-100"></div>
      <h3>聯絡方式</h3>
      <div class="w-100"></div>
      <p><%= t(:tel) %></p>
      <p class="ml-auto"><%= t('my_contact.tel') %></p>
      <div class="w-100"></div>
      <p><%= t(:fax) %></p>
      <p class="ml-auto"><%= t('my_contact.fax') %></p>
      <div class="w-100"></div>
      <p><%= t(:tax) %></p>
      <p class="ml-auto"><%= t('my_contact.tax') %></p>
      <div class="w-100"></div>
      <p><%= t(:email) %></p>
      <p class="ml-auto"><%= mail_to t('my_contact.email'), t('my_contact.email'), class: "caten-link purple" %></p>
      <div class="w-100"></div>
      <h3>網路與社群</h3>
      <div class="w-100"></div>
      <p>網站</p>
      <%= link_to root_url, root_path, class: "ml-auto" %>
      <div class="w-100"></div>
      <p>Facebook</p>
      <a class="ml-auto" href="<%= t('my_contact.facebook') %>"><%= t('my_contact.facebook') %></a>
      <div class="w-100"></div>
      <p>Youtube</p>
      <a class="ml-auto" href="<%= t('my_contact.youtube') %>"><%= t('my_contact.youtube') %></a>
      <div class="w-100"></div>
      <p>Line @</p>
      <a class="ml-auto" href="<%= t('my_contact.line@') %>"><%= t('my_contact.line@') %></a>

    </div>
    <div class="col-md-6 col-sm-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.8183443691373!2d120.25129795923615!3d22.734788517827976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0f351291d611%3A0x875c9a5e732e89d4!2z6Ie654Gj5Z-6552j6ZW36ICB5pWZ5pyDIOiMhOWFuOaVmeacgw!5e0!3m2!1szh-TW!2stw!4v1501388342293"
        width="100%"
        height="100%"
        frameborder="0"
        style="border:0"
        allowfullscreen></iframe>
    </div>
  </div>
  <hr>
  <h4>填寫聯絡表單</h4>
  <p class="text-muted">任何問題都歡迎您透過以下表單詢問，我們會盡快回覆您！</p>
  <%= render 'contacts/form' %>
</div>
</div>
