<%
set_meta_tags description: '大家好，這裡是茄典長老基督教會的網站，歡迎會友透過此網站報名活動以及查看教會最新消息!',
  og: {
    title: '茄典教會',
    image: 'http://i.imgur.com/Kgv2wwl.jpg',
    description: '大家好，這裡是茄典長老基督教會的網站，歡迎會友透過此網站報名活動以及查看教會最新消息!'
  }
%>
<% content_for :jumbotron do %>
  <h1 class="display-4">茄典教會</h1>
  <p class="lead mt-4">站內有本教會相關之教會活動與與最新消息</p>
  <p class="lead">歡迎會友透過此網站查看教會最新消息以及報名參加活動</p>
<% end %>
<div class="card-deck">
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title">公告</h2>
      <p class="card-text">點此前往查看最新的教會消息</p>
    </div>
    <div class="card-body">
      <%= link_to GroupReport.model_name.human, group_reports_path, class: 'btn btn-light btn-block' %>
      <%= link_to '查看公告', announcements_path, class: 'btn btn-light btn-block' %>
    </div>
  </div>
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title">網路社群</h2>
      <p class="card-text">歡迎追蹤或加入我們的網路社群</p>
    </div>
    <div class="list-group list-group-flush">
      <%= link_to 'Facebook 粉絲專頁', 'https://www.facebook.com/caten.church.teens', class: 'btn btn-light list-group-item' %>
      <%= link_to 'YouTube 頻道', 'https://www.youtube.com/channel/UC-MvdM-JEdQUsT5h7Ratc2w', class: 'btn btn-light list-group-item' %>
      <%= link_to 'Line @', 'https://line.me/R/ti/p/%40kfi8062r', class: 'btn btn-light list-group-item' %>
    </div>
  </div>
  <div class="w-100 d-lg-none"></div>
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title">活動專區</h2>
      <p class="card-text">請先登入再點此前往報名</p>
    </div>
    <div class="card-body">
      <%= link_to '報名活動', events_path, class: 'btn btn-purple btn-block' %>
    </div>
  </div>
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title">會員中心</h2>
      <p class="card-text">個人資料與帳號密碼設定，曾經參與哪些活動</p>
    </div>
    <div class="list-group list-group-flush">
      <%= link_to '我的活動', account_events_path, class: 'btn btn-light list-group-item' %>
      <%= link_to '個人資料', account_profile_path, class: 'btn btn-light list-group-item' %>
      <%= link_to '帳號設定', edit_user_registration_path, class: 'btn btn-light list-group-item' %>
    </div>
  </div>
</div>
