<%= link_to t('.back'), admin_contacts_path, class: 'btn btn-outline-secondary' %>
<h1 class="text-center"><%= t '.title' %></h1>
<%= simple_form_for @contact, url: admin_contact_url(@contact) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :message, as: :text, input_html: { rows: 8 } %>
  <%= f.input :handled %>
  <%= f.button :submit %>
<% end %>
