<h1 class="text-center"><%= Contact.model_name.human %>一覽</h1>
<div class="mt-2 btn-toolbar">
  <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
    <i class="fas fa-search"></i> 搜尋條件
  </a>
</div>
<div class="collapse mt-2" id="collapse-search">
  <div class="card">
    <div class="card-body">
      <%= search_form_for @q, url: admin_contacts_url, class: 'form-inline' do |f| %>
        <div class="input-group">
          <%= f.search_field :name_cont, class: 'form-control', placeholder: Contact.human_attribute_name(:name) %>
          <%= f.search_field :phone_cont, class: 'form-control', placeholder: Contact.human_attribute_name(:phone) %>
          <%= f.search_field :email_cont, class: 'form-control', placeholder: Contact.human_attribute_name(:email) %>
          <div class="input-group-append">
            <div class="input-group-text">
              <%= Contact.human_attribute_name(:handled) %>
              <%= f.check_box :handled_eq, class: 'ml-1' %>
            </div>
          </div>
        </div>
        <div class="w-100 mt-2"></div>
        <%= link_to admin_contacts_path, class: 'btn btn-sm btn-outline-secondary ml-auto' do %>
          <i class="fas fa-eraser"></i> 清除條件
        <% end %>
        <button type="submit" class="btn btn-sm btn-outline-primary ml-1">
          <i class="fas fa-search"></i> 搜尋
        </button>
      <% end %>
    </div>
  </div>
</div>
<div class="my-2">
  <%= paginate @contacts %>
  <table class="table d-sm-table d-none my-2">
    <thead class="thead-light">
      <tr>
        <th><%= Contact.human_attribute_name :name %></th>
        <th><%= Contact.human_attribute_name :phone %></th>
        <th><%= Contact.human_attribute_name :email %></th>
        <th><%= Contact.human_attribute_name :created_at %></th>
        <th><%= Contact.human_attribute_name :handled %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.phone %></td>
          <td><%= mail_to contact.email %></td>
          <td><%= l contact.created_at %></td>
          <td><%= Contact.human_attribute_name "handled.#{contact.handled}" %></td>
          <td class="btn-toolbar">
            <div class="btn-group">
              <%= link_to admin_contact_path(contact), class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-info-circle"></i> 查看
              <% end %>
              <%= link_to edit_admin_contact_path(contact), class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-edit"></i> 編輯
              <% end %>
              <%= link_to admin_contact_path(contact),
                          class: 'btn btn-sm btn-outline-danger',
                          method: :delete,
                          data: { confirm: '確定要刪除這個聯絡訊息嗎？' } do %>
                <i class="fas fa-trash"></i> 刪除
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- moblie -->
  <div class="list-group d-sm-none my-2">
    <% @contacts.each do |contact| %>
      <%= link_to admin_contact_path(contact), class: 'list-group-item list-group-item-action' do %>
        <p><%= Contact.human_attribute_name :name %> : <%= contact.name %></p>
        <p><%= Contact.human_attribute_name :phone %> : <%= contact.phone %></p>
        <p><%= Contact.human_attribute_name :email %> : <%= contact.email %></p>
        <p><%= Contact.human_attribute_name :created_at %> : <%= l contact.created_at %></p>
        <p><%= Contact.human_attribute_name :handled %> : <%= Contact.human_attribute_name "handled.#{contact.handled}" %></p>
      <% end %>
    <% end %>
  </div>
  <%= paginate @contacts %>
</div>
