<%= link_to admin_contacts_path, class: 'btn btn-outline-secondary' do %>
  <i class="fas fa-list"></i> <%= Contact.model_name.human %>一覽
<% end %>
<h1 class="mt-2 text-center"><%= Contact.model_name.human %></h1>
<div class="mt-2 btn-toolbar">
  <div class="btn-group ml-auto">
    <%= link_to handle_admin_contact_path, method: :post, class: 'btn btn-sm btn-outline-secondary' do %>
      <% if @contact.handled %>
        <i class="fas fa-times"></i> 標示為未處理
      <% else %>
        <i class="fas fa-check"></i> 標示為處理
      <% end %>
    <% end %>
    <%= link_to admin_contact_path,
                method: :delete,
                class: 'btn btn-sm btn-outline-danger',
                data: { confirm: '確定要刪除這個聯絡訊息嗎？' } do %>
      <i class="fas fa-trash"></i> 刪除
    <% end %>
  </div>
</div>
<div class="my-2 card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between">
      <h5><%= Contact.human_attribute_name :name %> :</h5>
      <span><%= @contact.name %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <h5><%= Contact.human_attribute_name :phone %> : </h5>
      <span><%= @contact.phone %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <h5><%= Contact.human_attribute_name :email %> : </h5>
      <span><%= mail_to @contact.email %></span>
    </li>
    <li class="list-group-item">
      <h5><%= Contact.human_attribute_name :message %> : </h5>
      <div><%= simple_format @contact.message %></div>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <h5><%= Contact.human_attribute_name :created_at %> : </h5>
      <span><%= l @contact.created_at, format: :to_sec %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <h5><%= Contact.human_attribute_name :handled %> : </h5>
      <span><%= Contact.human_attribute_name "handled.#{@contact.handled}" %></span>
    </li>
  </ul>
</div>
