<%= simple_form_for [:account, @profile], url: account_profile_url do |f| %>
  <div class="form-group">
    <%= f.input :name %>
    <%= f.input :sex, collection: ['男', '女'], prompt: :translate %>
    <%= f.input :birth, as: :string %>
    <%= f.input :id_number %>
    <%= f.input :phone %>
    <%= f.input :cellphone %>
    <%= f.input :emergency_contact %>
    <%= f.input :address %>
    <%= f.input :education %>
  </div>
  <%= f.input :terms_of_service, as: :boolean, label: sanitize("我已閱讀並且接受 #{link_to '隱私條款', term_path} 的內容") %>
  <%= f.button :submit, data: { disable_with: '更新中...' } %>
<% end %>
<%= javascript_pack_tag 'datetime-pickers', 'data-turbolinks-track': 'reload',
  data: { 'datetime-pickers': [{ selector: '#profile_birth', options: { enableTime: false } }]} %>
