<%= simple_form_for([:account, @profile], url: account_profile_url) do |f| %>
<div class="form-group">
	<%= f.input :name %>
	<%= f.input :sex, collection: ['男', '女'], prompt: :translate %>
	<%= f.input :birth,
			start_year: Date.today.year - 100,
			end_year: Date.today.year,
			order: [:year, :month, :day] %>
	<%= f.input :id_number %>
	<%= f.input :phone %>
	<%= f.input :cellphone %>
	<%= f.input :emergency_contact %>
	<%= f.input :address %>
	<%= f.input :education %>
</div>
<%= f.input :terms_of_service, as: :boolean, label:  t('.terms_of_service_html', link: link_to(t('.term'), term_path)) %>
<%= f.button :submit, class: 'btn btn-primary', data: { disable_with: t('.submitting') } %>
<% end %>
