<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= t 'breadcrumb.account' %>
  >
  <%= link_to Profile.model_name.human, account_profile_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= Profile.model_name.human %></h1>
  <p class="lead text-center">
    <%= t('.subtitle_html', link: (link_to t('.term'), term_path, class: 'mx-2 btn btn-dark')) %>
  </p>
<% end %>
