<h1 class="text-center"><%= Weekly.model_name.human %>一覽</h1>
<div class="mt-2 btn-toolbar">
  <%= link_to new_admin_weekly_path, class: 'btn btn-outline-success ml-auto' do %>
    <i class="fas fa-plus"></i> 新增<%= Weekly.model_name.human %>
  <% end %>
</div>
<div class="my-2">
  <%= paginate @weeklies %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= Weekly.human_attribute_name :title %></th>
        <th><%= Weekly.human_attribute_name :issue %></th>
        <th><%= Weekly.human_attribute_name :viewed_count %></th>
        <th><%= Weekly.human_attribute_name :published_at %></th>
        <th><%= Weekly.human_attribute_name :created_at %></th>
        <th><%= Weekly.human_attribute_name :updated_at %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @weeklies.each do |weekly| %>
        <tr>
          <td><%= weekly.title %></td>
          <td><%= weekly.issue %></td>
          <td><%= weekly.viewed_count %></td>
          <td><%= l weekly.published_at %></td>
          <td><%= l weekly.created_at %></td>
          <td><%= l weekly.updated_at %></td>
          <td class="btn-toolbar">
            <div class="btn-group">
              <%= link_to [:admin, weekly], class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-info-circle"></i> <%= t('show') %>
              <% end %>
              <%= link_to edit_admin_weekly_path(weekly), class: 'btn btn-sm btn-outline-secondary' do %>
                <i class="fas fa-edit"></i> <%= t('edit') %>
              <% end %>
              <%= link_to [:admin, weekly], class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: "確定要刪除#{Weekly.model_name.human}嗎？" } do %>
                <i class="fas fa-trash"></i> <%= t('destroy') %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @weeklies %>
</div>
