<%= simple_form_for([:admin,@announcement]) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, label: "標題" %>
    <%= f.input :description, label: "描述" %>
    <%= f.input :content, label: "描述", as: :pagedown, input_html: { preview: false, rows: 20 } %>
    
  </div>

  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
