<div class="d-flex flex-row align-items-center justify-content-center flex-wrap my-2">
  <h1><%= t '.title' %></h1>
  <div class="w-100"></div>
  <%= link_to t('.create'), new_admin_announcement_path, class: 'btn btn-success ml-auto' %>
</div>
<%= paginate @announcements %>
<%= render 'announcements/table', announcements: @announcements, render_from_admin: true %>
<%= paginate @announcements %>
