<h1 class="text-center"><%= t '.title' %></h1>
<div class="my-2 d-flex">
  <%= link_to fa_icon('plus', text: t('.new')), new_admin_announcement_path, class: 'btn btn-outline-success ml-auto' %>
</div>
<%= paginate @announcements %>
<%= render 'announcements/table', announcements: @announcements, backstage: true %>
<%= paginate @announcements %>
