<%= link_to '布告欄一覽', admin_announcements_path, class: "btn btn-default"%>

<div class="btn-group pull-right">
  <%= link_to(t(:edit), edit_admin_announcement_path(@announcement) , class: "btn btn-default") %>
  <%= link_to(t(:delete), admin_announcement_path(@announcement), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } ) %>
</div>
<div class="container">
  <%= render 'announcements/announcement_table', :a => @announcement%>
</div>

<%= link_to '發佈至FB社團', post_to_facebook_admin_announcement_path, class: "btn btn-default", method: :post %>
