<%= link_to t('.back'), admin_announcements_path, class: 'btn btn-outline-secondary' %>
<div class="btn-group pull-right">
  <%= link_to(t('.edit'), edit_admin_announcement_path(@announcement) , class: 'btn btn-warning') %>
  <%= link_to(t('.delete'), admin_announcement_path(@announcement), class: 'btn btn-danger', method: :delete, data: { confirm: t('.confirm') } ) %>
</div>
<%= render 'announcements/announcement', announcement: @announcement%>
<%= link_to t('.post_to_fb'), post_to_facebook_admin_announcement_path, class: 'btn btn-primary pull-right', method: :post %>
