<%= link_to admin_announcements_path, class: 'btn btn-outline-secondary' do %>
  <i class="fas fa-list"></i> <%= Announcement.model_name.human %>一覽
<% end %>
<h1 class="mt-2 text-center"><%= Announcement.model_name.human %></h1>
<div class="my-2 btn-toolbar">
  <div class="btn-group ml-auto">
    <%= link_to edit_admin_announcement_path(@announcement), class: 'btn btn-sm btn-outline-secondary' do %>
      <i class="fas fa-edit"></i> 編輯
    <% end %>
    <%= link_to admin_announcement_path(@announcement),
              class: 'btn btn-sm btn-outline-danger',
              method: :delete,
              data: { confirm: '確定要刪除這個公告嗎？' } do %>
      <i class="fas fa-trash"></i> 刪除
    <% end %>
  </div>
</div>
<%= render 'announcements/announcement', announcement: @announcement %>
<%# link_to '發布至 Facebook 社團', post_to_facebook_admin_announcement_path, class: 'btn btn-primary', method: :post %>
