<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= t('.title') %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= t('.title') %></h1>
  <p class="lead text-center"><%= t('.subtitle') %></p>
<% end %>
<div class="container">
  <div class="card-deck">
    <div class="card my-2">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-body">
          <%= f.input :email, required: false, autofocus: true, input_html: { value: session['email'] } %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="card-body">
          <%= f.button :submit, t('.submit'), class: "btn-block btn-purple" %>
        </div>
      <% end %>
    </div>
    <div class="card my-2 text-center text-muted">
      <div class="card-body">
        <%= link_to omniauth_authorize_path(resource_name, :facebook), class: 'btn btn-outline-primary btn-block' do %>
          <%= t '.fb_login_html', icon: '<i class="fab fa-facebook fa-3x ml-1"></i>'.html_safe %>
        <% end %>
      </div>
      <div class="card-body">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
