<%= link_to admin_event_event_users_path, class: 'btn btn-outline-secondary mb-2' do %>
  <i class="fas fa-undo"></i> 取消
<% end %>
<%= simple_form_for :event_users, url: admin_event_event_users_url, method: :patch do |f| %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= Profile.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :email %></th>
        <th>
          <%= EventUser.human_attribute_name :paid %>
          <input type="checkbox" onclick="checkAll(this, paidCheckboxs)">
        </th>
        <th>
          <%= EventUser.human_attribute_name :arrival %>
          <input type="checkbox" onclick="checkAll(this, arrivalCheckboxs)">
        </th>
      </tr>
    </thead>
    <tbody>
      <% @event_users.each do |event_user| %>
        <tr>
          <td><%= event_user.user.profile&.name %></td>
          <td><%= event_user.user.email %></td>
          <%= f.fields_for '', event_user do |ff| %>
            <td><%= ff.input :paid, label: EventUser.human_attribute_name('paid.true'), input_html: { class: 'paid-check' } %></td>
            <td><%= ff.input :arrival, label: EventUser.human_attribute_name('arrival.true'), input_html: { class: 'arrival-check' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_tag class: 'btn btn-primary', data: { disable_with: '送出中' } do %>
    <i class="fas fa-save"></i> 儲存
  <% end %>
<% end %>
<script type="text/javascript">
  var paidCheckboxs = document.querySelectorAll(".paid-check");
  var arrivalCheckboxs = document.querySelectorAll(".arrival-check");
  function checkAll(obj, checkboxs) {
    checkboxs.forEach((dom) => (dom.checked = obj.checked))
  }
</script>
