<div class="d-flex p-2">
  <%= link_to t('button.cancel'), admin_event_event_users_path, class: "btn btn-secondary" %>
</div>
<%= simple_form_for :event_users, url: admin_event_event_users_url, method: :patch do |f| %>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:email) %></th>
      <th><%= t('event_user.activated') %></th>
    </tr>
  </thead>
  <tbody>
    <% @event_users.each do |event_user| %>
    <% user = event_user.user
    profile = (user.profile.blank? ? Profile.new : user.profile) %>
    <tr>
      <td><%= profile.name %></td>
      <td><%= user.email %></td>
      <td>
        <%= f.fields_for "", event_user do |ff| %>
        <%= ff.input :activated %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= f.submit t(:submit), class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
