<div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
  <h1><%= t '.title' %></h1>
  <div class="w-100"></div>
  <%= link_to t('.create'), new_admin_group_path, class: 'btn btn-success ml-auto' %>
</div>

<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapse-search" aria-expanded="false" aria-controls="collapse-search"><%= t '.conditions' %></a>
<div class="collapse" id="collapse-search">
  <div class="card my-2">
    <div class="card-body">
      <%= search_form_for @q, url: admin_groups_url, class: 'form-inline my-2 mx-5' do |f| %>
        <%= f.label Group.human_attribute_name(:name), class: 'mr-1' %>
        <%= f.search_field :name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= link_to t('.clear'), admin_groups_path, class: 'btn btn-outline-secondary ml-auto' %>
        <%= f.button t('.submit'), class: 'btn btn-outline-secondary mx-2' %>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @groups %>
<%= render 'groups/table', groups: @groups, stage: :backstage %>
<%= paginate @groups %>
