<%= link_to fa_icon('list', text: t('.back')), admin_groups_path, class: 'btn btn-outline-secondary' %>
<h1 class="my-2 text-center"><%= Group.model_name.human %></h1>
<div class="my-2 d-flex">
  <%= link_to fa_icon('pencil', text: t('button.edit')), edit_admin_group_path(@group), class: 'btn btn-outline-primary ml-auto' %>
  <%= link_to fa_icon('trash', text: t('button.delete')), admin_group_path(@group), class: 'btn btn-outline-danger ml-1', method: :delete, data: { confirm: t('.confirm') } %>
</div>
<%= render 'groups/group', group: @group, stage: :backstage %>
