<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= t 'breadcrumb.account' %>
  >
  <%= link_to Subscription.model_name.human, account_subscription_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= Subscription.model_name.human %></h1>
  <p class="lead text-center">
    <%= t '.subtitle' %>
  </p>
<% end %>
