<% if @user.profile.nil? %>
    <% flash[:notice] = "You don't have your profile yet" %>
    <%= link_to('Create Profile', account_profile_new_path) %>
<% else %>
    <%= link_to('Edit Profile', account_profile_edit_path) %>
    
    <table class="table">
        <caption>Profile</caption>
    	<tbody>
    	    <% p=@user.profile %>
    		<tr>
    		    <td>name</td>
    		    <td><%= p.name %></td>
    		</tr>
    		<tr>
    		    <td>sex</td>
    		    <td><%= p.sex %></td>
    		</tr>
    		<tr>
    		    <td>birth</td>
    		    <td><%= p.birth%></td>
    		</tr>
    		<tr>
    		    <td>phone</td>
    		    <td><%= p.phone%></td>
    		</tr>
    		<tr>
    		    <td>cellphone</td>
    		    <td><%= p.cellphone%></td>
    		</tr>
    		<tr>
    		    <td>email</td>
    		    <td><%= p.email%></td>
    		</tr>
    		<tr>
    		    <td>address</td>
    		    <td><%= p.address%></td>
    		</tr>
    		<tr>
    		    <td>education</td>
    		    <td><%= p.education%></td>
    		</tr>
    	</tbody>
    </table>
<% end %>