<footer class="mt-5 footer bg-faded py-5">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-between">
      <h5><%= link_to "關於茄典", about_path, class: "caten-link" %></h5>
      <h5><%= link_to "聯絡我們", contact_path, class: "caten-link" %></h5>
      <%= link_to t('my_contact.facebook'), class: "caten-link" do %>
      <%= fa_stacked_icon "facebook", base: "circle-thin", class: "fa-2x" %>
      <% end %>
      <%= link_to t('my_contact.youtube'), class: "caten-link" do %>
      <%= fa_stacked_icon "youtube", base: "circle-thin", class: "fa-2x" %>
      <% end %>
      <%= link_to t('my_contact.github'), class: "caten-link" do %>
      <%= fa_stacked_icon "github", base: "circle-thin", class: "fa-2x" %>
      <% end %>
    </div>
    <div class="row mt-4 d-flex align-items-baseline justify-content-around">
      <div>
        <tel class="lead purple"><%= t('my_contact.tel') %></tel>
        <p class="small"><%= t('my_contact.office_hour') %></p>
      </div>
      <div>
        <%= mail_to t('my_contact.email'), t('my_contact.email'), class: "caten-link" %>
        <address><%= t('my_contact.address') %></address>
      </div>
    </div>
    <div class="row mt-4">
      <div class="mx-auto">
        ©
        <%= Date.today.year %>
        Hong Xin Yang.
      </div>
    </div>
  </div>
</footer>
