<nav class="navbar navbar-toggleable-md navbar-light bg-white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">茄典教會</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav ml-auto">
      <%= nav_li t(:youtube), youtube_path %>
      <%= nav_li t('pages.events'), events_path %>
      <%= nav_li t(:announcements), announcements_path %>
      <div class="px-2"></div>
      <% if user_signed_in? %>
      <%= nav_li( t(:backstage), admin_path) if is_admin? %>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t(:account) %>
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to t(:my_events), account_events_path, class: "dropdown-item" %>
          <%= link_to t('profile._'), account_profile_path, class: "dropdown-item" %>
          <%= link_to t(:edit_user_registration), edit_user_registration_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to t(:log_out), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>

    <% else %>
      <%= nav_li t(:sign_up), new_user_registration_path %>
      <%= nav_li t(:log_in), new_user_session_path %>
      <% end %>
    </ul>
  </div>
</nav>
