<p>
  <strong><%= Weekly.human_attribute_name :title %></strong>
  <%= weekly.title %>
</p>
<p>
  <strong><%= Weekly.human_attribute_name :issue %></strong>
  <%= weekly.issue %>
</p>
<p>
  <strong><%= Weekly.human_attribute_name :published_at %></strong>
  <%= l weekly.published_at %>
</p>
<p>
  <strong><%= Weekly.human_attribute_name :created_at %></strong>
  <%= l weekly.created_at %>
</p>
<p>
  <strong><%= Weekly.human_attribute_name :updated_at %></strong>
  <%= l weekly.updated_at %>
</p>
<% if weekly.pdf.attached? %>
  <p>
    <%= link_to 'PDF', rails_blob_path(weekly.pdf) %>
  </p>
<% end %>
