<%
title = Weekly.model_name.human
description = '可以來這裡查看每週教會的大小消息'
set_meta_tags(
  title: title,
  description: description,
  og: {
    title: title,
    description: description,
    image: 'https://i.imgur.com/Kgv2wwl.jpg'
  }
)
%>
<%= render 'breadcrumb' %>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= Weekly.human_attribute_name :title %></th>
        <th><%= Weekly.human_attribute_name :issue %></th>
        <th><%= Weekly.human_attribute_name :published_at %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @weeklies.each do |weekly| %>
        <tr>
          <td><%= weekly.title %></td>
          <td><%= weekly.issue %></td>
          <td><%= l weekly.published_at %></td>
          <td>
            <%= link_to weekly, class: 'btn btn-sm btn-outline-secondary' do %>
              <i class="fas fa-info-circle"></i>
              查看
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @weeklies %>
</div>
