<% title = "#{Weekly.model_name.human} #{@weekly.title}" %>
<% set_meta_tags title: title, og: { title: title, image: 'https://i.imgur.com/Kgv2wwl.jpg' } %>
<%= render 'breadcrumb' %>
<% content_for :breadcrumb do %>
  > <%= link_to @weekly.title, @weekly %>
<% end %>
<div class="container">
  <%= link_to weeklies_path, class: "btn btn-outline-secondary mb-4" do %>
    <i class="fas fa-list"></i> <%= Weekly.model_name.human %>一覽
  <% end %>
  <%= render 'weekly', weekly: @weekly %>
</div>
