<!DOCTYPE html>
<html>
  <head>
    <%= render 'common/header'%>
  </head>
  <body>
    <%= render 'admin/common/navbar'%>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-2 d-none d-sm-block bg-faded sidebar pt-4">
          <%= render 'admin/common/sidebar'%>
        </nav>
        <main class="col-12 col-sm-10 offset-sm-2 p-4" id="admin-main">
          <%= notice_message %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
