<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/header'%>
  </head>
  <body>
    <%= render 'admin/shared/navbar'%>
    <div class="d-flex">
      <nav class="d-none d-sm-block bg-light" id="sidebar">
        <%= render 'admin/shared/sidebar'%>
      </nav>
      <main class="container-fluid pt-2">
        <%= notice_message %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
