<!DOCTYPE html>
<html>
<head>
  <%= render 'common/header'%>
</head>
<body>
  <%= render 'common/navbar'%>
  <%= notice_message %>
  <div class="container-fluid">
  	<%= yield %>
  </div>
  <%= render 'common/footer'%>
</body>
</html>
