<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <%= render 'shared/header'%>
  </head>
  <body>
    <%= render 'shared/navbar'%>
    <%= notice_message %>
    <%= render 'shared/jumbotron'%>
    <main class="p-4">
      <%= yield %>
    </main>
    <%= render 'shared/footer'%>
  </body>
</html>
