<!DOCTYPE html>
<html>
<head>
  <%= render 'common/header'%>
</head>
<body>
  <%= render 'common/navbar'%>
  <%= notice_message %>
  <div class="container-fluid">
  	<%= yield %>
  </div>
  <%= render 'common/footer'%>
  <%- # js 放在最後面加載可以加速網頁讀取 %>
  <%= javascript_include_tag 'application'%>
</body>
</html>
