<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/header'%>
</head>
<body>
    <%= render 'layouts/navbar'%>
    <%= notice_message %>
    <div class="container-fluid">
    	<%= yield %>
    </div>
    <%= render 'layouts/footer'%>
</body>
</html>
