<!DOCTYPE html>
<html>
<head>
  <%= render 'common/header'%>
</head>
<body>
  <%= render 'common/navbar'%>
  <div class="container-fluid" id="main-container">
    <%= notice_message %>
    <%= yield %>
  </div>
  <%= render 'common/footer'%>
</body>
</html>
